<!-- navigate to the different administration pages -->

<div class="page page-side">
  <div class="page-left-layout">
    <h4>
      {{msg $ "admin.page"}}
    </h4>
    <hr>

    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

      <!-- user management -->
      <a class="nav-link btn-outline-darkblue m-1 active" id="v-pills-users-tab" data-toggle="pill"
        href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="true">
        {{template "icons/search.html" . }}
        &nbsp; {{msg $ "admin.users"}}
      </a>

      <!-- role overview -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-roles-tab" data-toggle="pill"
        href="#v-pills-roles" role="tab" aria-controls="v-pills-roles" aria-selected="true">
        {{template "icons/person.html" . }}
        &nbsp; {{msg $ "admin.roles"}}
      </a>

      <!-- dashboard -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-dashboard-tab" data-toggle="pill"
        href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard" aria-selected="false">
        {{template "icons/graphUp.html" . }}
        &nbsp; {{msg $ "admin.dashboard"}}
      </a>

      <!-- log -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-log-tab" data-toggle="pill"
        href="#v-pills-log" role="tab" aria-controls="v-pills-log" aria-selected="false">
        {{template "icons/bug.html" . }}
        &nbsp; {{msg $ "admin.log"}}
      </a>

    </div>
  </div>
</div>

<!-- user details modal -->
<div class="modal fade" id="user-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <!-- content is loaded into this div -->
    <div class="modal-content" id="user-details-modal-content">
    </div>
  </div>
</div>

<script src="/public/js/admin.js"></script>
<script>
  {{template "js/admin.js" .}}
</script>
