<!-- navigate to the different administration pages -->

<div class="page page-side">
  <div class="page-left-layout">
    <h4>
      {{msg $ "admin.page"}}
    </h4>
    <hr>

    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-users-tab" href='{{url "Admin.Users"}}' role="tab">
        {{template "icons/search.html" . }}
        &nbsp; {{msg $ "admin.users"}}
      </a>
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-roles-tab" href='{{url "Admin.Roles"}}' role="tab">
        {{template "icons/person.html" . }}
        &nbsp; {{msg $ "admin.roles"}}
      </a>
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-dashboard-tab" href='{{url "Admin.Dashboard"}}' role="tab">
        {{template "icons/graphUp.html" . }}
        &nbsp; {{msg $ "admin.dashboard"}}
      </a>
    </div>
  </div>
</div>

<!-- user details modal -->
<div class="modal fade" id="user-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <!-- content is loaded into this div -->
    <div class="modal-content" id="user-details-modal-content">
    </div>
  </div>
</div>

<script src="/public/js/admin.js"></script>
<script>
  {{template "js/admin.js" .}}
</script>
