<!-- navigate to the different pages for course management -->

<div class="page page-side page-side-left pr-5 pr-lg-5 mb-5 mb-lg-0">
  <div class="position-desktop-fixed border-right-desktop pr-4 pl-4 pl-lg-0">
    <h4>
      {{msg $ "creator.page"}}
    </h4>
    <hr>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

      <a class="nav-link btn-outline-darkblue m-1 d-none admin creator" id="v-pills-new-tab" href='#' onclick="$('#new-course-modal').modal('show');" role="tab">
        {{template "icons/folderPlus.html" . }}
        &nbsp; {{msg $ "creator.course.new"}}
      </a>

      <a class="dropdown-divider d-none admin creator"></a>

      <!-- drafts -->
      <a class="nav-link btn-outline-darkblue m-1 d-none admin creator editor" id="v-pills-drafts-tab" href='{{url "ManageCourses.Drafts"}}' role="tab">
        {{template "icons/paperclip.html" . }}
        &nbsp; {{msg $ "creator.drafts"}}
      </a>
      <a class="nav-link disabled d-none" href="#" tabindex="-1" id="pills-opened-draft">
        {{template "icons/arrowReturnRight.html" .}} &nbsp;
        {{msg $ "creator.course.draft.is.open"}}
      </a>

      <a class="dropdown-divider d-none admin creator editor"></a>

      <!-- active courses -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-active-tab" href='{{url "ManageCourses.Active"}}' role="tab">
        {{template "icons/layoutTextSidebarReversed.html" . }}
        &nbsp; {{msg $ "creator.courses.active"}}
      </a>
      <a class="nav-link disabled d-none" href="#" tabindex="-1" id="pills-opened-active">
        {{template "icons/arrowReturnRight.html" .}} &nbsp;
        {{msg $ "creator.course.is.open"}}
      </a>

      <!-- expired courses -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-expired-tab" href='{{url "ManageCourses.Expired"}}' role="tab">
        {{template "icons/archive.html" . }}
        &nbsp; {{msg $ "creator.courses.expired"}}
      </a>
      <a class="nav-link disabled d-none" href="#" tabindex="-1" id="pills-opened-expired">
        {{template "icons/arrowReturnRight.html" .}} &nbsp;
        {{msg $ "creator.course.is.open"}}
      </a>

    </div>
  </div>
</div>

{{template "manageCourses/templates/newModal.html" dict_addLocale $.currentLocale}}
{{template "manageCourses/templates/downloadModal.html" dict_addLocale $.currentLocale}}

<script src="/public/js/manageCourses.js"></script>
<script>
  {{template "js/manageCourses.js" .}}
</script>
