/* import components */
/* button darkblue */
.btn-darkblue {
  color: #fff;
  background-color: #292961;
  border-color: #292961;
}
.btn-darkblue:hover {
  color: #292961;
  background-color: #fff;
  border-color: #292961;
}
.btn-darkblue:focus,
.btn-darkblue.focus {
  color: #292961;
  background-color: #fff;
  border-color: #292961;
  box-shadow: 0 0 0 0.2rem rgba(41, 41, 97, 0.5);
}
.btn-darkblue.disabled,
.btn-darkblue:disabled {
  color: #292961;
  background-color: transparent;
}
.btn-darkblue:not(:disabled):not(.disabled):active,
.btn-darkblue:not(:disabled):not(.disabled).active,
.show > .btn-darkblue.dropdown-toggle {
  color: #292961;
  background-color: #fff;
  border-color: #292961;
}
.btn-darkblue:not(:disabled):not(.disabled):active:focus,
.btn-darkblue:not(:disabled):not(.disabled).active:focus,
.show > .btn-darkblue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 41, 97, 0.5);
}
/* button outline darkblue */
.btn-outline-darkblue {
  color: #292961;
  border-color: #292961;
}
.btn-outline-darkblue:hover {
  color: #fff;
  background-color: #292961;
  border-color: #292961;
}
.btn-outline-darkblue:focus,
.btn-outline-darkblue.focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 41, 97, 0.5);
}
.btn-outline-darkblue.disabled,
.btn-outline-darkblue:disabled {
  color: #292961;
  background-color: transparent;
}
.btn-outline-darkblue:not(:disabled):not(.disabled):active,
.btn-outline-darkblue:not(:disabled):not(.disabled).active,
.show > .btn-outline-darkblue.dropdown-toggle {
  color: #fff;
  background-color: #292961;
  border-color: #292961;
}
.btn-outline-darkblue:not(:disabled):not(.disabled):active:focus,
.btn-outline-darkblue:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-darkblue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 41, 97, 0.5);
}
/* custom validation feedback */
.val-div {
  margin-top: 0.25rem;
  font-size: 80%;
}
/* custom overflow y */
.overflow-y {
  overflow-y: auto;
}
.break-text {
  word-wrap: break-word;
}
/* custom background colors */
.bg-darkblue {
  background-color: #292961;
}
/* custom z-index */
.z-idx-500 {
  z-index: 500;
}
.z-idx-5000 {
  z-index: 5000;
}
/* custom sizing */
.h-px-40 {
  height: 40px;
}
.h-65 {
  height: 65%;
}
.w-rem-1-5 {
  width: 1.5rem;
}
.mw-rem-1 {
  width: 1rem;
}
/* custom position */
.pos-r-24 {
  right: 24px;
}
/* custom border radius of modal headers */
.border-radius-2 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
@media only screen and (min-width: 1441px) {
  .extra-hidden {
    display: none;
  }
  .w-form {
    width: 40%;
  }
  .w-content {
    width: 50%;
  }
}
@media only screen and (max-width: 1440px) {
  .large-hidden {
    display: none;
  }
  .w-form {
    width: 60%;
  }
  .w-content {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  .medium-hidden {
    display: none;
  }
  .w-form {
    width: 90%;
  }
  .w-content {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .small-hidden {
    display: none;
  }
  .w-form {
    width: 90%;
  }
  .w-content {
    width: 100%;
  }
}
@media only screen and (min-width: 1441px) {
  .page {
    padding-bottom: 6rem;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
  }
  .page-side {
    width: 20%;
  }
  .page-middle {
    width: 60%;
  }
  .page-right-layout {
    position: fixed;
    overflow-y: auto;
    border-left: 1px solid #dee2e6 !important;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 65%;
  }
  .page-left-layout {
    position: fixed;
    overflow-y: auto;
    border-right: 1px solid #dee2e6 !important;
    padding-right: 2rem;
    height: 65%;
  }
}
@media only screen and (max-width: 1440px) {
  .page {
    padding-bottom: 6rem;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
  }
  .page-side {
    width: 20%;
  }
  .page-middle {
    width: 60%;
  }
  .page-right-layout {
    position: fixed;
    overflow-y: auto;
    border-left: 1px solid #dee2e6 !important;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 65%;
  }
  .page-left-layout {
    border-right: 1px solid #dee2e6 !important;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .page {
    padding-bottom: 1rem;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
  }
  .page-side {
    margin-bottom: 2rem;
  }
  .page-right-layout {
    position: inherit;
    overflow-y: auto;
    border: 0 !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-left-layout {
    margin-top: 3rem;
    border: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .page {
    padding-bottom: 1rem;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
  }
  .page-side {
    margin-bottom: 2rem;
  }
  .page-right-layout {
    position: inherit;
    overflow-y: auto;
    border: 0 !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-left-layout {
    margin-top: 3rem;
    border: 0 !important;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}
.toast-custom {
  background: #fff;
  position: fixed;
  z-index: 5000;
}
@media only screen and (min-width: 1441px) {
  .toast-position {
    float: right;
    right: 1rem;
    top: 6rem;
  }
}
@media only screen and (max-width: 1440px) {
  .toast-position {
    float: right;
    right: 1rem;
    top: 5rem;
  }
}
@media only screen and (max-width: 991px) {
  .toast-position {
    right: 0rem;
    left: 0rem;
    top: 5rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 767px) {
  .toast-position {
    right: 0rem;
    left: 0rem;
    top: 5rem;
    margin-right: auto;
    margin-left: auto;
  }
}
