@import "../theme.css.less";

@media @phone {
  .mobile-hidden {
    display: none;
  }
}

@media @desktop {
  .desktop-hidden {
    display: none;
  }

  .margin {
    &-10 {
      margin: 10px;
    }
    &-5 {
      margin: 5px;
    }
    &-right {
      &-20 {
        margin-right: 20px;
      }
    }
    &-left {
      &-10 {
        margin-left: 10px;
      }
      &-20 {
        margin-left: 20px;
      }
    }
  }

  .position {
    &-fixed {
      position: fixed;
    }
  }
}

.float {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
}

.display {
  &-inline {
    display: inline;
  }
  &-none {
    display: none;
  }
  &-block {
    display: block;
  }
}

.border-radius-2 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.padding {
  &-bottom {
    &-24 {
      padding-bottom: 24px;
    }
  }
}

.border {
  &-left {
    &-none {
      border-left: none;
    }
  }
}

.background-color {
  &-darkblue {
    background-color: @darkblue;
  }
}

.color {
  &-success {
    color: @alertsuccess;
  }
  &-danger {
    color: @alertdanger;
  }
  &-darkblue {
    color: @darkblue;
  }
}

.warning-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: @alertdanger;
}
