@import "../theme.css.less";

/* custom validation feedback */
.val-div {
  margin-top: 0.25rem;
  font-size: 80%;
}

/* custom overflow y */
.overflow-y {
  overflow-y: auto;
}

/* custom background colors */
.bg {
  &-darkblue {
    background-color: @darkblue;
  }
}

/* custom z-index */
.z-idx {
  &-500 {
    z-index: 500;
  }
  &-5000 {
    z-index: 5000;
  }
}

/* custom sizing */
.h-px {
  &-40 {
    height: 40px;
  }
}
.h {
  &-65 {
    height: 65%;
  }
}
.w-rem {
  &-1-5 {
    width: 1.5rem;
  }
}
.mw-rem {
  &-1 {
    width: 1rem;
  }
}

/* custom position */
.pos-r {
  &-24 {
    right: 24px;
  }
}

/* custom border radius of modal headers */
.border-radius-2 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* phone resolution properties */
@media @phone {
  .mobile-hidden {
    display: none;
  }
  .w-mobile {
    &-50 {
      width: 50%;
    }
    &-65 {
      width: 65%;
    }
    &-90 {
      width: 90%;
    }
  }
  .pl-mobile {
    &-12 {
      padding-left: 12rem;
    }
  }
  .position-phone {
    &-fixed {
      position: fixed;
    }
  }
  .border-right-mobile {
    border-right: 1px solid #dee2e6 !important;
  }
}

/* desktop resolution properties */
@media @desktop {
  .desktop-hidden {
    display: none;
  }
  .w-desktop {
    &-50 {
      width: 50%;
    }
    &-65 {
      width: 65%;
    }
    &-90 {
      width: 90%;
    }
  }
  .pl-desktop {
    &-12 {
      padding-left: 12rem;
    }
  }
  .position-desktop {
    &-fixed {
      position: fixed;
    }
  }
  .border-right-desktop {
    border-right: 1px solid #dee2e6 !important;
  }
}
