@import "../theme.css.less";

@media @desktop {
  .page {
    padding-bottom: 6rem;

    &-side {
      float: left;
      width: 25%;

      &-left {
        padding-left: 2%;
      }

      &-right {
        padding-right: 2%;
      }
    }

    &-middle {
      float: left;
      padding-left: 2%;
      padding-right: 2%;
      width: 50%;
    }
  }
}

@media @phone {
  .page {
    padding-bottom: 1rem;
    width: 100%;

    &-side {
      &-left {}
      &-right {}
    }
    &-middle {
      padding-left: 4%;
      padding-right: 4%;
    }
  }
}
