<!-- this template differs from the general salutation template by adding a 'dear' in front of the name -->
{{if eq .User.Salutation 2}}
  {{msg $ "email.dear.ms"}} {{if .User.NameAffix.Valid}}{{.User.NameAffix.String}} {{end}}{{.User.LastName}},
{{else if eq .User.Salutation 1}}
  {{msg $ "email.dear.mr"}} {{if .User.NameAffix.Valid}}{{.User.NameAffix.String}} {{end}} {{.User.LastName}},
{{else}}
  {{msg $ "email.dear.none"}} {{.User.FirstName}}{{if .User.NameAffix.Valid}} {{.User.NameAffix.String}}{{end}} {{.User.LastName}},
{{end}}
