{{if eq .data.User.Salutation 2}}
  {{msg $ "email.ms"}}{{if .data.User.Title.Valid}} {{.data.User.Title.String}}{{end}}{{if .data.User.AcademicTitle.Valid}} {{.data.User.AcademicTitle.String}}{{end}}{{if .data.User.NameAffix.Valid}} {{.data.User.NameAffix.String}}{{end}} {{.data.User.LastName}},
{{else if eq .data.User.Salutation 1}}
  {{msg $ "email.mr"}}{{if .data.User.Title.Valid}} {{.data.User.Title.String}}{{end}}{{if .data.User.AcademicTitle.Valid}} {{.data.User.AcademicTitle.String}}{{end}}{{if .data.User.NameAffix.Valid}} {{.data.User.NameAffix.String}}{{end}} {{.data.User.LastName}},
{{else}}
  {{msg $ "email.none"}}{{if .data.User.Title.Valid}} {{.data.User.Title.String}}{{end}}{{if .data.User.AcademicTitle.Valid}} {{.data.User.AcademicTitle.String}}{{end}} {{.data.User.FirstName}}{{if .data.User.NameAffix.Valid}} {{.data.User.NameAffix.String}}{{end}} {{.data.User.LastName}},
{{end}}
