<!-- template containing page statistics -->

{{template "header.html" .}}

{{template "admin/templates/leftNav.html" .}}

<div class="page page-middle">
  <div class="tab-content">
    <h4>
      {{template "icons/graphUp.html" .}} &nbsp; {{msg $ "admin.dashboard"}}
    </h4>
    <hr>
    <br>
  </div>
</div>

<div class="page page-side">
  <br class="medium-hidden">
</div>

<script>
  $(function() {
    //adjust the nav pills
    $('#v-pills-dashboard-tab').addClass("active");
  });
</script>

{{template "footer.html" .}}
