<!-- template containing the user/role administration and the page dashboard -->

{{template "header.html" .}}

<div class="page page-side page-side-left">
  <!-- navigation -->
  <h4>
    {{msg $ "admin.page"}}
  </h4>
  <hr>
  <div class="login-width">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active btn-outline-darkblue margin-5" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="true">
        {{template "icons/search.html" . }}
        &nbsp; {{msg $ "admin.users"}}
      </a>
      <a class="nav-link btn-outline-darkblue margin-5" id="v-pills-roles-tab" data-toggle="pill" href="#v-pills-roles" role="tab" aria-controls="v-pills-roles" aria-selected="true">
        {{template "icons/person.html" . }}
        &nbsp; {{msg $ "admin.roles"}}
      </a>
      <a class="nav-link btn-outline-darkblue margin-5" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard" aria-selected="false">
        {{template "icons/graphUp.html" . }}
        &nbsp; {{msg $ "admin.dashboard"}}
      </a>
    </div>
  </div>
</div>

<div class="page page-middle">
  <!-- content -->
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
      {{template "admin/users.html" . }}
    </div>
    <div class="tab-pane fade" id="v-pills-roles" role="tabpanel" aria-labelledby="v-pills-roles-tab">
      {{template "admin/roles.html" . }}
    </div>
    <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
      {{template "admin/dashboard.html" . }}
    </div>
  </div>
</div>

<div class="page page-side page-side-right">
  {{template "toast.html" .}}
</div>

<!-- user details modal -->
<div class="modal fade" id="user-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">    
    <!-- content is loaded into this div -->
    <div class="modal-content" id="user-details-modal-content">
    </div>
  </div>
</div>

<script>
  function userDetails(ID) {
    $.get("{{url "Admin.UserDetails"}}", {
      "ID": ID
    }, function(data) {
      $('#user-details-modal-content').html(data);
    });
    $('#user-details-modal').modal('show');
  }

  //detect validation error
  if ({{if .errors}}true{{else}}false{{end}}) {
    showErrorToast($('#flash-errors').html());
  }
</script>

{{template "footer.html" .}}
