<!-- template containing the search-for-users field and an overview over all users with elevated roles -->

<h4>
  {{template "icons/person.html" . }} &nbsp; {{msg $ "admin.roles"}}
</h4>
<hr>

<!-- admins -->
<h5> {{template "icons/display.html" . }} &nbsp; {{msg $ "user.admins"}} </h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> {{msg $ "user.name"}} </th>
      <th scope="col"> {{msg $ "user.email"}} </th>
      <th scope="col"> {{msg $ "user.last.login"}} </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {{range .admins}}
      <tr>
        <td>
          {{if eq .Salutation 0}}
            {{msg $ "user.salutation.none"}}
          {{else if eq .Salutation 1}}
            {{msg $ "user.salutation.mr"}}
          {{else if eq .Salutation 2}}
            {{msg $ "user.salutation.ms"}}
          {{end}}
          {{.FirstName}} {{.LastName}}
        </td>
        <td> {{.EMail}} </td>
        <td> {{.LastLogin}} </td>
        <td class="text-right">
          <a href="#" onclick="userDetails({{.ID}})" class="badge badge-secondary btn-darkblue">
            {{template "icons/tools.html"}}
          </a>
        </td>
      </tr>
    {{else}}
      {{if .errMsg}}
        <tr>
          <td colspan="4">
            <div class="warning-feedback color-danger">
              {{.errMsg}}
            </div>
          </td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>

<!-- creators -->
<br>
<h5> {{template "icons/people.html" . }} &nbsp; {{msg $ "user.creators"}} </h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> {{msg $ "user.name"}} </th>
      <th scope="col"> {{msg $ "user.email"}} </th>
      <th scope="col"> {{msg $ "user.last.login"}} </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {{range .creators}}
      <tr>
        <td>
          {{if eq .Salutation 0}}
            {{msg $ "user.salutation.none"}}
          {{else if eq .Salutation 1}}
            {{msg $ "user.salutation.mr"}}
          {{else if eq .Salutation 2}}
            {{msg $ "user.salutation.ms"}}
          {{end}}
          {{.FirstName}} {{.LastName}}
        </td>
        <td> {{.EMail}} </td>
        <td> {{.LastLogin}} </td>
        <td class="text-right">
          <a href="#" onclick="userDetails({{.ID}})" class="badge badge-secondary btn-darkblue">
            {{template "icons/tools.html"}}
          </a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">
          {{if .errMsg}}
            <div class="warning-feedback color-danger">
              {{.errMsg}}
            </div>
          {{else}}
            {{msg $ "admin.no.creators"}}
          {{end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>
