<!-- template rendering the content of one calendar event -->

{{if .errMsg}}
  <div class="val-div w-100 text-danger">
    {{.errMsg}}
  </div>
{{end}}

<div id="flash-errors-calendar-event-{{.event.ID}}" class="d-none">
  {{range .errors}}
    <div class="val-div w-100 text-danger">
      {{.}}
    </div>
  {{end}}
</div>

<script>
	$(function(){
		{{if .flash.success}}
			showToast('{{.flash.success}}', 'success');
		{{else if .flash.error}}
			showToast('{{.flash.error}}', 'danger');
		{{else if .errors}}
			let msg = document.getElementById('flash-errors-calendar-event-{{.event.ID}}').innerHTML;
			showToast(msg, 'danger');
    {{end}}
	});
</script>

<li class="list-group-item mb-2 border rounded">

  <!-- delete event (on screens bigger than sm) -->
  <div class="d-none d-md-block">
    <a class="btn btn-outline-darkblue float-right ml-3 edit-show d-none"
      href='#no-scroll' role="button"
      onclick='confirmDeleteRenderModal({{msg $ "event.calendar.delete.title"}},
        {{msg $ "event.calendar.delete.confirm" .event.Title}},
        "{{url "EditCalendarEvent.Delete" .event.ID .event.CourseID}}", "calendar_events");'
      title='{{msg $ "title.delete"}}'>
      {{template "icons/trash.html" . }}
    </a>
  </div>

  <!-- duplicate event (on screens bigger than sm) -->
  <div class="d-none d-md-block">
    <a class="btn btn-outline-darkblue float-right ml-3 edit-show d-none"
      href='#no-scroll' role="button"
      onclick='confirmDeleteRenderModal({{msg $ "event.duplicate.title"}},
        {{msg $ "event.duplicate.confirm" .event.Title}},
        "{{url "EditCalendarEvent.Duplicate" .event.ID .event.CourseID}}", "calendar_events");'
      title='{{msg $ "title.duplicate"}}'>
      {{template "icons/files.html" . }}
    </a>
  </div>

  <!-- event title -->
  <div id="div-calendar_title-{{.event.ID}}" class="d-inline">
    {{.event.Title}}
  </div>
  <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
    onclick='openChangeModal({{msg $ "event.calendar.title"}}, "title",
      true, "{{url "EditCalendarEvent.ChangeText"}}", "text", "255",
      {{msg $ "event.calendar.title.change.info"}}, {{.event.ID}}, 2);'
    title='{{msg $ "title.edit"}}'>
    {{template "icons/pencil.html" . }}
  </a>
  <br>

  <!-- annotation -->
  <div id="div-edit-calendar_annotation-{{.event.ID}}"
    class="{{if not .event.Annotation.Valid}}d-none{{end}}">
    <small class="form-text text-muted float-left">
      {{template "icons/infoSquare.html" . }} &nbsp; <div id="div-calendar_annotation-{{.event.ID}}" class="d-inline">{{.event.Annotation.String}}</div>
    </small>
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
      onclick='openChangeModal({{msg $ "event.annotation"}}, "annotation",
        true, "{{url "EditCalendarEvent.ChangeText"}}", "text", "255",
        {{msg $ "event.annotation.change.info"}}, {{.event.ID}}, 2);'
      title='{{msg $ "title.edit"}}'>
      {{template "icons/pencil.html" . }}
    </a>
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
      onclick='confirmDeleteJSONModal({{msg $ "event.annotation.delete.title"}},
        {{msg $ "event.annotation.delete.confirm"}},
        "{{url "EditCalendarEvent.ChangeText" .event.ID "annotation" ""}}");'
      title='{{msg $ "title.delete"}}'>
      {{template "icons/trash.html" . }}
    </a>
    <br>
  </div>

  <!-- duplicate and delete event (on screens smaller than md) -->
  <div class="d-md-none mt-2 mt-lg-1">

    <!-- duplicate -->
    <div class="d-inline">
      <a class="btn btn-outline-darkblue edit-show d-none" href='#no-scroll' role="button"
        onclick='confirmDeleteRenderModal({{msg $ "event.duplicate.title"}},
          {{msg $ "event.duplicate.confirm" .event.Title}},
          "{{url "EditCalendarEvent.Duplicate" .event.ID .event.CourseID}}", "calendar_events");'
        title='{{msg $ "title.duplicate"}}'>
        {{template "icons/files.html" . }}
      </a>
    </div>

    <!-- delete -->
    <div class="d-inline">
      <a class="btn btn-outline-darkblue edit-show d-none ml-1" href='#no-scroll' role="button"
        onclick='confirmDeleteRenderModal({{msg $ "event.calendar.delete.title"}},
          {{msg $ "event.calendar.delete.confirm" .event.Title}},
          "{{url "EditCalendarEvent.Delete" .event.ID .event.CourseID}}", "calendar_events");'
        title='{{msg $ "title.delete"}}'>
        {{template "icons/trash.html" . }}
      </a>
    </div>
  </div>

  <div class="enroll-info">
    {{if .session.userID}}
      <!-- no enrollment info -->
      {{if or .event.NoEnroll .event.NoUnsubscribe}}
        <small class="form-text text-danger float-left">
          {{msg $ $.event.EnrollMsg}}
        </small>
        <br>
      {{end}}
    {{end}}
  </div>

  <!-- add annotation button -->
  <div id="div-add-calendar_annotation-{{.event.ID}}" class="{{if .event.Annotation.Valid}}d-none{{else}}d-inline{{end}}">
    <button type="button" class="btn btn-outline-darkblue edit-show d-none mt-2 mt-lg-1"
      onclick='openChangeModal({{msg $ "event.annotation"}}, "annotation", false,
        "{{url "EditCalendarEvent.ChangeText"}}", "text", "255",
        {{msg $ "event.annotation.change.info"}}, {{.event.ID}}, 2);'>
      + &nbsp; {{msg $ "event.annotation"}}
    </button>
  </div>

  <div class="d-none d-md-block">
    {{template "course/calendarEventDesktop.html" dict_addLocale $.currentLocale "event" $.event "session" $.session}}
  </div>
  <div class="d-md-none">
    {{template "course/calendarEventMobile.html" dict_addLocale $.currentLocale "event" $.event "session" $.session "day" $.day}}
  </div>

  <!-- add day template and exception buttons -->
  <div class="d-inline">

    <!-- button for adding new day templates -->
    <button type="button" class="btn btn-outline-darkblue edit-show d-none mt-1"
      onclick='openChangeDayTmplModal({{url "EditCalendarEvent.NewDayTemplate"}},
        {{msg $ "day.tmpl.new.title"}}, {{.event.ID}}, 0, "", "", 60, 0);'>
      + &nbsp; {{msg $ "button.new.day.tmpl"}}
    </button>

    <!-- button for adding exceptions -->
    <button type="button" class="btn btn-outline-darkblue edit-show d-none mt-1"
      onclick='openChangeExceptionModal({{msg $ "exception.new.title"}},
        {{.event.ID}}, "", "", "", 0);'>
      + &nbsp; {{msg $ "event.calendar.add.exception"}}
    </button>
  </div>

  {{if .event.Exceptions}}
    <div class="edit-show d-none">
      <hr>
      {{msg $ "event.calendar.list.exceptions"}}:

      <ul>
        {{range .event.Exceptions}}
          <li>
            <small class="text-muted">
              {{if .Annotation.Valid}}{{.Annotation.String}}: {{end}}{{.ExceptionStart}} {{msg $ "meeting.to.time"}} {{.ExceptionEnd}}
            </small>

            <!-- edit exception -->
            <a href="#no-scroll" class="badge btn-outline-darkblue d-inline"
              onclick='openChangeExceptionModal({{msg $ "exception.new.title"}}, {{.CalendarEventID}},
                {{.ExceptionStart}}, {{.ExceptionEnd}}, {{.Annotation.String}}, {{.ID}});'
              title='{{msg $ "title.edit"}}'>
              {{template "icons/pencil.html" . }}
            </a>

            <!-- delete exception -->
            <a href="#no-scroll" class="badge btn-outline-darkblue d-inline"
              onclick='confirmDeleteRenderModal({{msg $ "exception.delete.title"}},
                {{msg $ "exception.delete.confirm"}},
                "{{url "EditCalendarEvent.DeleteException" .ID $.event.CourseID}}",
                "calendar_events");'
              title='{{msg $ "title.delete"}}'>
              {{template "icons/trash.html" . }}
            </a>
          </li>
        {{end}}
      </ul>
    </div>
  {{end}}

</li>

<script>
  $(function() {
    //determine if this is the edit course page
    if (window.location.href.includes("edit/open")) {
      disableEnrollmentButtons();
      hideEnrollInfoMessages();
    }
  });
</script>
