<!-- course shows all course information -->

<!-- general course information -->
<div class="row edit-show d-none mb-2">
  <div class="col">
    <h5>
      {{template "icons/infoSquare.html" .}}
      &nbsp; {{msg $ "creator.general.data"}}
    </h5>
    <hr>
  </div>
</div>

<!-- title -->
<div class="row mb-2">
  <div class="col">
    <h4>
      <div id="div-title" class="d-inline">
        {{.course.Title}}
      </div>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openChangeModal({{msg $ "course.title"}}, "title",
          true, "{{url "Edit.ChangeText"}}", "text", "511",
          {{msg $ "course.title.change.info"}}, {{.course.ID}});'>
        {{template "icons/pencil.html" . }}
      </a>
    </h4>
  </div>
</div>

<!-- subtitle -->
<div id="div-edit-subtitle" {{if not .course.Subtitle.Valid}}class="d-none"{{end}}>
  <div class="row mb-2">
    <div class="col">
      <h5>
        <div id="div-subtitle" class="d-inline">
          {{.course.Subtitle.String}}
        </div>
        <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
          onclick='openChangeModal({{msg $ "course.subtitle"}}, "subtitle", true,
            "{{url "Edit.ChangeText"}}", "text", "511",
            {{msg $ "course.subtitle.change.info"}}, {{.course.ID}});'>
          {{template "icons/pencil.html" . }}
        </a>
        <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
          onclick='confirmDeleteJSONModal({{msg $ "course.subtitle.delete.title"}},
            {{msg $ "course.subtitle.delete.confirm"}},
            "{{url "Edit.ChangeText" .course.ID "subtitle" ""}}");'>
          {{template "icons/trash.html" . }}
        </a>
      </h5>
    </div>
  </div>
</div>
<div id="div-add-subtitle" {{if .course.Subtitle.Valid}}class="d-none"{{end}}>
  <div class="row edit-show d-none mb-2" id="div-add-subtitle">
    <div class="col">
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openChangeModal({{msg $ "course.subtitle"}}, "subtitle", false,
          "{{url "Edit.ChangeText"}}", "text", "511",
          {{msg $ "course.subtitle.change.info"}}, {{.course.ID}});'>
        {{msg $ "creator.add.subtitle"}}
      </button>
    </div>
  </div>
</div>

<hr class="edit-hide">

<!-- course creator -->
<div class="row mb-2">
  <div class="col-sm-4 text-muted">
    {{msg $ "user.role.creator"}}:
  </div>
  <div class="col-sm-8">
    {{template "templates/salutation.html" dict_addLocale $.currentLocale "User" .course.CreatorData}} |
    <a href="mailto:{{.course.CreatorData.EMail}}" target="_top">
      {{template "icons/envelope.html" .}}
      {{.course.CreatorData.EMail}}
    </a>
  </div>
</div>

<!-- course editors and instructors -->
<div id="div-editor-instructor-list">
  {{template "course/editorInstructorList.html" dict_addLocale $.currentLocale "editors" .course.Editors "instructors" .course.Instructors}}
</div>

<!-- registration period -->
<div class="row mb-2" id="course-registration-period">
  <div class="col-sm-4 text-muted">
    {{msg $ "course.enrollment.period"}}:
  </div>
  <div class="col-sm-8">
    {{msg $ "course.from"}} <div id="div-enrollment_start" class="d-inline">{{.course.EnrollmentStart}}</div> {{msg $ "course.clock"}}
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
      onclick='openChangeModal({{msg $ "course.enrollment.start"}}, "enrollment_start",
        true, "{{url "Edit.ChangeTimestamp"}}", "timestamp", "",
        {{msg $ "course.enrollment.start.change.info"}}, {{.course.ID}});'>
      {{template "icons/pencil.html" . }}
    </a>
    <br>
    {{msg $ "course.to"}} <div id="div-enrollment_end" class="d-inline">{{.course.EnrollmentEnd}}</div> {{msg $ "course.clock"}}
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
      onclick='openChangeModal({{msg $ "course.enrollment.end"}}, "enrollment_end",
        true, "{{url "Edit.ChangeTimestamp"}}", "timestamp", "",
        {{msg $ "course.enrollment.end.change.info"}}, {{.course.ID}});'>
      {{template "icons/pencil.html" . }}
    </a>
  </div>
</div>

<!-- if the course has a time up to which users can unsubscribe -->
<div id="div-edit-unsubscribe_end" {{if not .course.UnsubscribeEnd.Valid}}class="d-none"{{end}}>
  <div class="row mb-2">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.unsubscribe.end"}}:
    </div>
    <div class="col-sm-8">
      <div id="div-unsubscribe_end" class="d-inline">{{.course.UnsubscribeEnd.String}}</div> {{msg $ "course.clock"}}
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openChangeModal({{msg $ "course.unsubscribe.end"}}, "unsubscribe_end", true,
          "{{url "Edit.ChangeTimestamp"}}", "timestamp", "",
          {{msg $ "course.unsubscribe.end.info"}}, {{.course.ID}});'>
        {{template "icons/pencil.html" . }}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='confirmDeleteJSONModal({{msg $ "course.unsubscribe.end.delete.title"}},
          {{msg $ "course.unsubscribe.end.delete.confirm"}},
          "{{url "Edit.ChangeTimestamp" .course.ID "unsubscribe_end" "" ""}}");'>
        {{template "icons/trash.html" . }}
      </a>
    </div>
  </div>
</div>
<div id="div-add-unsubscribe_end" {{if .course.UnsubscribeEnd.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.unsubscribe.end"}}:
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openChangeModal({{msg $ "course.unsubscribe.end"}}, "unsubscribe_end", false,
          "{{url "Edit.ChangeTimestamp"}}", "timestamp", "",
          {{msg $ "course.unsubscribe.end.info"}}, {{.course.ID}});'>
        {{msg $ "creator.add.unsubscribe.end"}}
      </button>
    </div>
  </div>
</div>

<!-- show fee if there is one -->
<div id="div-edit-fee" {{if not .course.Fee.Valid}}class="d-none"{{end}}>
  <div class="row mb-2">
    <div class="col-sm-4 text-muted">
       {{msg $ "course.fee"}}:
     </div>
     <div class="col-sm-8">
       <div id="div-fee" class="d-inline">
       {{.course.Fee.Float64}}</div>€
       <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
         onclick='openChangeModal({{msg $ "course.fee"}}, "fee", true,
           "{{url "Edit.ChangeText"}}", "text", "",
           {{msg $ "course.fee.change.info"}}, {{.course.ID}});'>
         {{template "icons/pencil.html" . }}
       </a>
       <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
         onclick='confirmDeleteJSONModal({{msg $ "course.fee.delete.title"}},
           {{msg $ "course.fee.delete.confirm"}},
           "{{url "Edit.ChangeText" .course.ID "fee" ""}}");'>
         {{template "icons/trash.html" . }}
       </a>
     </div>
  </div>
</div>
<div id="div-add-fee" {{if .course.Fee.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
       {{msg $ "course.fee"}}:
     </div>
     <div class="col-sm-8">
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openChangeModal({{msg $ "course.fee"}}, "fee", false,
          "{{url "Edit.ChangeText"}}", "text", "",
          {{msg $ "course.fee.change.info"}}, {{.course.ID}});'>
        {{msg $ "creator.add.fee"}}
      </button>
    </div>
  </div>
</div>

<!-- description -->
<div id="div-edit-description" {{if not .course.Description.Valid}}class="d-none"{{end}}>
  <div class="row mb-2">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.description"}}:
      <br>
      <a data-toggle="collapse" href="#div-description" role="button"
        aria-expanded="true" aria-controls="div-description"
        id="course-description-btn">
        {{msg $ "button.collapse"}}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openTextAreaModal({{msg $ "course.description"}},
          "description", true, "{{url "Edit.ChangeText"}}",
          {{msg $ "course.description.change.info"}}, false);'>
        {{template "icons/pencil.html" . }}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='confirmDeleteJSONModal({{msg $ "course.description.delete.title"}},
          {{msg $ "course.description.delete.confirm"}},
          "{{url "Edit.ChangeText" .course.ID  "description" ""}}#course-registration-period");'>
        {{template "icons/trash.html" . }}
      </a>
    </div>
    <div class="col-sm-8">
      <div class="collapse show" id="div-description">
      </div>
    </div>
  </div>
</div>
<div id="div-add-description" {{if .course.Description.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.description"}}:
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openTextAreaModal({{msg $ "course.description"}},
          "description", false, "{{url "Edit.ChangeText"}}",
          {{msg $ "course.description.change.info"}}, false);'>
        {{msg $ "creator.add.description"}}
      </button>
    </div>
  </div>
</div>

<!-- speaker -->
<div id="div-edit-speaker" {{if not .course.Speaker.Valid}}class="d-none"{{end}}>
  <div class="row mb-2">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.speaker"}}:
      <br>
      <a data-toggle="collapse" href="#div-speaker" role="button"
        aria-expanded="true" aria-controls="div-speaker"
        id="course-speaker-btn">
        {{msg $ "button.collapse"}}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openTextAreaModal({{msg $ "course.speaker"}},
          "speaker", true, "{{url "Edit.ChangeText"}}",
          {{msg $ "course.speaker.change.info"}}, false);'>
        {{template "icons/pencil.html" . }}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='confirmDeleteJSONModal({{msg $ "course.speaker.delete.title"}},
          {{msg $ "course.speaker.delete.confirm"}},
          "{{url "Edit.ChangeText" .course.ID  "speaker" ""}}");'>
        {{template "icons/trash.html" . }}
      </a>
    </div>
    <div class="col-sm-8">
      <div class="collapse show" id="div-speaker">
      </div>
    </div>
  </div>
</div>
<div id="div-add-speaker" {{if .course.Speaker.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.speaker"}}:
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openTextAreaModal({{msg $ "course.speaker"}},
          "speaker", false, "{{url "Edit.ChangeText"}}",
          {{msg $ "course.speaker.change.info"}}, false);'>
        {{msg $ "creator.add.speaker"}}
      </button>
    </div>
  </div>
</div>

<!-- only ldap -->
<div class="row mb-2 {{if not .course.OnlyLDAP}}edit-show d-none{{end}}" id="events">
  <div class="col-sm-4 text-muted">
    {{msg $ "course.audience"}}:
  </div>
  <div class="col-sm-8">
    <form id="change-ldap-form" accept-charset="UTF-8" method="POST" action='{{url "Edit.ChangeBool"}}'>
      <!-- course ID -->
      <input type="hidden" name="ID" value="{{.course.ID}}">
      <!-- list type -->
      <input type="hidden" name="listType" value="only_ldap">
      <!-- option -->
      <label class="switch edit-show d-none">
        <input type="checkbox" name="option" id="change-only_ldap-switch"
          {{if .course.OnlyLDAP}}checked{{end}}>
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        {{msg $ "course.only.ldap"}}
      </label>
    </form>
  </div>
</div>

<!-- restrictions -->
<div id="div-restrictions">
  {{template "course/restrictions.html" dict_addLocale $.currentLocale "restrictions" .course.Restrictions}}
</div>

<br>
<br>

<!-- events -->
<div class="row edit-show d-none mb-2">
  <div class="col">
    <h5>
      {{template "icons/people.html" .}}
      &nbsp; {{msg $ "course.events"}}
    </h5>
    <small class="text-muted">
      {{msg $ "course.events.info"}}
    </small>
    <hr>
  </div>
</div>

<!-- new event -->
<div class="row mb-2 edit-show d-none">
  <div class="col">
    <button type="button" class="btn btn-outline-darkblue"
      onclick='openChangeModal({{msg $ "creator.event.new"}}, "event",
        {{msg $ "event.title"}}, false, "{{url "Edit.NewEvent"}}#events",
        "text", "255", {{msg $ "creator.title.event.working.info"}},
        {{.course.ID}});'>
      {{msg $ "creator.add.event"}}
    </button>
  </div>
</div>

<!-- event list -->
{{template "course/events.html" dict_addLocale $.currentLocale "course" .course}}

<br id="more-settings">
<br>


<!-- more settings -->
<div class="row edit-show d-none mb-2">
  <div class="col">
    <h5>
      {{template "icons/tools.html" .}}
      &nbsp; {{msg $ "creator.more.settings"}}
    </h5>
    <small class="text-muted">
      {{msg $ "creator.more.settings.info"}}
    </small>
    <hr>
  </div>
</div>

<!-- course path -->
<div class="row mb-2 edit-show d-none">
  <div class="col-sm-4 text-muted">
    {{msg $ "course.path"}}:
  </div>
  <div class="col-sm-8" id="div-path">
    {{template "course/path.html" dict_addLocale $.currentLocale "path" .course.Path}}
  </div>
</div>

<!-- visibility -->
<div class="row mb-2 edit-show d-none">
  <div class="col-sm-4 text-muted">
    {{msg $ "course.visibility"}}:
  </div>
  <div class="col-sm-8">
    <form id="change-visibility-form" accept-charset="UTF-8" method="POST" action='{{url "Edit.ChangeBool"}}#more-settings'>
      <!-- course ID -->
      <input type="hidden" name="ID" value="{{.course.ID}}">
      <!-- list type -->
      <input type="hidden" name="listType" value="visible">
      <!-- option -->
      <label class="switch">
        <input type="checkbox" name="option" id="change-visible-switch"
          {{if .course.Visible}}checked{{end}}>
        <span class="slider round"></span>
      </label>
      <label class="form-check-label">
        {{msg $ "course.visibility.public"}}
      </label>
    </form>
  </div>
</div>

<!-- expiration date -->
<div class="row mb-2 edit-show d-none">
  <div class="col-sm-4 text-muted">
    {{msg $ "course.expiration.date"}}:
  </div>
  <div class="col-sm-8">
    <div id="div-expiration_date" class="d-inline">{{.course.ExpirationDate}}</div> {{msg $ "course.clock"}}
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
      onclick='openChangeModal({{msg $ "course.expiration.date"}}, "expiration_date",
        true, "{{url "Edit.ChangeTimestamp"}}", "timestamp", "",
        {{msg $ "course.expiration.date.change.info"}}, {{.course.ID}});'>
      {{template "icons/pencil.html" . }}
    </a>
  </div>
</div>

<!-- enrollment limit events -->
<div id="div-edit-enroll_limit_events" {{if not .course.EnrollLimitEvents.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.enroll.limit.events"}}:
    </div>
    <div class="col-sm-8">
      <div id="div-enroll_limit_events" class="d-inline">{{.course.EnrollLimitEvents.Int32}}</div> {{msg $ "course.events"}}
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openChangeModal({{msg $ "course.enroll.limit.events"}}, "enroll_limit_events",
          true, "{{url "Edit.ChangeEnrollLimit"}}", "int", "",
          {{msg $ "course.enroll.limit.events.change.info"}}, {{.course.ID}});'>
        {{template "icons/pencil.html" . }}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='confirmDeleteJSONModal({{msg $ "course.enroll.limit.events.delete.title"}},
          {{msg $ "course.enroll.limit.events.delete.confirm"}},
          "{{url "Edit.ChangeEnrollLimit" .course.ID "enroll_limit_events" ""}}");'>
        {{template "icons/trash.html" . }}
      </a>
    </div>
  </div>
</div>
<div id="div-add-enroll_limit_events" {{if .course.EnrollLimitEvents.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.enroll.limit.events"}}:
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-outline-darkblue"
      onclick='openChangeModal({{msg $ "course.enroll.limit.events"}}, "enroll_limit_events",
        false, "{{url "Edit.ChangeEnrollLimit"}}", "int", "",
        {{msg $ "course.enroll.limit.events.change.info"}}, {{.course.ID}});'>
        {{msg $ "creator.add.enroll.limit"}}
      </button>
    </div>
  </div>
</div>

<!-- custom e-mail -->
<div id="div-edit-custom_email" {{if not .course.CustomEMail.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.custom.email"}}:
      <br>
      <a data-toggle="collapse" href="#div-custom_email" role="button"
        aria-expanded="true" aria-controls="div-custom_email"
        id="course-custom_email-btn">
        {{msg $ "button.collapse"}}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openTextAreaModal({{msg $ "course.custom.email"}},
          "custom_email", true, "{{url "Edit.ChangeText"}}",
          {{msg $ "course.custom.email.change.info"}}, true);'>
        {{template "icons/pencil.html" . }}
      </a>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='confirmDeleteJSONModal({{msg $ "course.customemail.delete.title"}},
          {{msg $ "course.customemail.delete.confirm"}},
          "{{url "Edit.ChangeText" .course.ID  "custom_email" ""}}");'>
        {{template "icons/trash.html" . }}
      </a>
    </div>
    <div class="col-sm-8">
      <div class="collapse show" id="div-custom_email">
      </div>
    </div>
  </div>
</div>
<div id="div-add-custom_email" {{if .course.CustomEMail.Valid}}class="d-none"{{end}}>
  <div class="row mb-2 edit-show d-none">
    <div class="col-sm-4 text-muted">
      {{msg $ "course.custom.email"}}:
    </div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openTextAreaModal({{msg $ "course.custom.email"}},
          "custom_email", false, "{{url "Edit.ChangeText"}}",
          {{msg $ "course.custom.email.change.info"}}, true);'>
        {{msg $ "creator.add.custom.email"}}
      </button>
    </div>
  </div>
</div>

<!-- whitelist -->
<div id="div-whitelists">
  {{template "course/whitelist.html" dict_addLocale $.currentLocale "whitelist" .course.Whitelist}}
</div>

<!-- blacklist -->
<div id="div-blacklists">
  {{template "course/blacklist.html" dict_addLocale $.currentLocale "blacklist" .course.Blacklist}}
</div>

<script>
  //render all html content
  $(function() {
    $('#div-description').html('{{.course.Description.String}}');
    $('#div-speaker').html('{{.course.Speaker.String}}');
    $('#div-custom_email').html('{{.course.CustomEMail.String}}');

    $('#div-description').on('hidden.bs.collapse', function () {
      $('#course-description-btn').html('{{msg $ "button.show"}}');
    })
    $('#div-description').on('shown.bs.collapse', function () {
      $('#course-description-btn').html('{{msg $ "button.collapse"}}');
    })

    $('#div-speaker').on('hidden.bs.collapse', function () {
      $('#course-speaker-btn').html('{{msg $ "button.show"}}');
    })
    $('#div-speaker').on('shown.bs.collapse', function () {
      $('#course-speaker-btn').html('{{msg $ "button.collapse"}}');
    })

    $('#div-custom_email').on('hidden.bs.collapse', function () {
      $('#course-custom_email-btn').html('{{msg $ "button.show"}}');
    })
    $('#div-custom_email').on('shown.bs.collapse', function () {
      $('#course-custom_email-btn').html('{{msg $ "button.collapse"}}');
    })
  });
</script>
