<!-- template rendering all events of a course -->

{{if .errMsg}}
  <div class="val-div w-100 text-danger">
    {{.errMsg}}
  </div>
{{end}}

<div id="flash-errors-events" class="d-none">
  {{range .errors}}
    <div class="val-div w-100 text-danger">
      {{.}}
    </div>
  {{end}}
</div>

<script>
	$(function(){
		{{if .flash.success}}
			showToast('{{.flash.success}}', 'success');
		{{else if .flash.error}}
			showToast('{{.flash.error}}', 'danger');
		{{else if .errors}}
			let msg = document.getElementById('flash-errors-events').innerHTML;
			showToast(msg, 'danger');
		{{end}}
	});
</script>

<ul class="list-group">

  <script>
    var fromMsg = '{{msg $ "meeting.from"}}';
    var clockMsg = '{{msg $ "course.clock"}}';
  </script>

  {{range .events}}
    <li class="list-group-item mb-2 border rounded">

      <!-- delete event -->
      <a class="btn btn-outline-darkblue float-right ml-3 edit-show d-none"
        href='#no-scroll' role="button"
        onclick='confirmDeleteRenderModal({{msg $ "event.delete.title"}},
          {{msg $ "event.delete.confirm" .Title}},
          "{{url "EditEvent.Delete" .ID .CourseID}}", "events");'>
        {{template "icons/trash.html" . }}
      </a>

      <!-- TODO: disable enrollment during edit -->
      <!-- enrollment button -->
      {{template "course/enrollButton.html" dict_addLocale $.currentLocale "option" .EnrollOption "ID" .ID}}

      <!-- fullness and capacity -->
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-right"
        onclick='openChangeModal({{msg $ "event.capacity"}}, "capacity", true,
          "{{url "EditEvent.ChangeCapacity"}}", "int", "",
          {{msg $ "event.capacity.change.info"}}, {{.ID}}, true);'>
        {{template "icons/pencil.html" . }}
      </a>
      <small class="float-right">
        {{.Fullness}} / <div id="div-capacity-{{.ID}}" class="d-inline">{{.Capacity}}</div>
      </small>

      <!-- progress bar -->
      <div class="progress float-right mr-3 edit-hide" style="width: 8rem;">
        <div class="progress-bar bg-darkblue" role="progressbar" style="width: {{.Percentage}}%;"
          aria-valuenow="{{.Fullness}}" aria-valuemin="0" aria-valuemax="{{.Capacity}}">
          {{.Percentage}}%
        </div>
      </div>

      <!-- event title -->
      <div id="div-title-{{.ID}}" class="d-inline">
        {{.Title}}
      </div>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none"
        onclick='openChangeModal({{msg $ "event.title"}}, "title",
          true, "{{url "EditEvent.ChangeText"}}", "text", "255",
          {{msg $ "event.title.change.info"}}, {{.ID}}, true);'>
        {{template "icons/pencil.html" . }}
      </a>
      <br>

      <!-- waiting list information -->
      <small class="form-text text-muted float-left">
        {{template "icons/listUL.html" . }} &nbsp;
        {{if .HasWaitlist}}
          {{msg $ "event.waitlist.yes"}}
        {{else}}
          {{msg $ "event.waitlist.no"}}
        {{end}}
      </small>
      <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
        onclick='openBoolModal({{msg $ "event.waitlist.change.title"}},
          "{{url "EditEvent.ChangeWaitlist"}}#events", {{msg $ "event.waitlist.yes"}},
          {{msg $ "event.waitlist.no"}}, {{.HasWaitlist}}, "", "", {{.ID}});'>
        {{template "icons/pencil.html" . }}
      </a>
      <br>

      <!-- annotation -->
      {{if .Annotation.Valid}}
        <small class="form-text text-muted float-left">
          {{template "icons/infoSquare.html" . }} &nbsp; {{.Annotation.String}}
        </small>
        <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
          onclick='openChangeModal({{msg $ "event.annotation"}}, "annotation",
            {{.Annotation.String}}, {{.Annotation.Valid}}, "{{url "EditEvent.ChangeText"}}#events",
            "text", "255", {{msg $ "event.annotation.change.info"}}, {{.ID}});'>
          {{template "icons/pencil.html" . }}
        </a>
        <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
          onclick='confirmPOSTModal({{msg $ "event.annotation.delete.title"}},
            {{msg $ "event.annotation.delete.confirm" .Annotation.String}},
            "{{url "EditEvent.ChangeText" .ID "annotation" ""}}#events");'>
          {{template "icons/trash.html" . }}
        </a>
        <br>
      {{end}}

      {{if .EnrollmentKey.Valid}}
        <small class="form-text text-muted float-left edit-show">
          {{template "icons/lock.html" . }} &nbsp; {{msg $ "event.key.set"}}
        </small>
        <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
          onclick='openEnrollmentKeyModal({{.ID}});'>
          {{template "icons/pencil.html" . }}
        </a>
        <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
          onclick='confirmPOSTModal({{msg $ "event.key.delete.title"}},
            {{msg $ "event.key.delete.confirm"}}, "{{url "EditEvent.DeleteEnrollmentKey" .ID}}#events");'>
          {{template "icons/trash.html" . }}
        </a>
        <br class="edit-show">
      {{end}}

      <!-- meetings -->
      {{template "course/meetings.html" dict_addLocale $.currentLocale "eventID" .ID "Meetings" .Meetings}}

      <!-- add a new meeting -->
      {{if .Meetings}}
        <br class="edit-show d-none">
        <br class="large-hidden">
      {{end}}
      <br class="edit-show d-none">
      <button type="button" class="btn btn-outline-darkblue edit-show d-none mt-2 mt-lg-0"
        onclick='openNewMeetingModal({{.ID}});'>
        {{msg $ "creator.add.meeting"}}
      </button>

      {{if not .Annotation.Valid}}
        <!-- add annotation button -->
        <button type="button" class="btn btn-outline-darkblue edit-show d-none mt-2 mt-lg-0"
          onclick='openChangeModal({{msg $ "event.annotation"}}, "annotation",
            {{.Annotation.String}}, {{.Annotation.Valid}}, "{{url "EditEvent.ChangeText"}}#events",
            "text", "255", {{msg $ "event.annotation.change.info"}}, {{.ID}});'>
          + &nbsp; {{msg $ "event.annotation"}}
        </button>
      {{end}}

      {{if not .EnrollmentKey.Valid}}
        <button type="button" class="btn btn-outline-darkblue edit-show d-none mt-2 mt-lg-0"
          onclick="openEnrollmentKeyModal({{.ID}});">
          + &nbsp; {{msg $ "event.key.title"}}
        </button>
      {{end}}

      <!-- enrollment information (if enrollment is not possible) -->
      {{template "course/enrollInfo.html" dict_addLocale $.currentLocale "option" .EnrollOption "msg" .EnrollMsg}}
    </li>
  {{end}}

</ul>
