<!-- template rendering all meetings of an event -->

{{if .errMsg}}
  <div class="val-div w-100 text-danger">
    {{.errMsg}}
  </div>
{{end}}

<div id="flash-errors-meetings-{{.ID}}" class="d-none">
  {{range .errors}}
    <div class="val-div w-100 text-danger">
      {{.}}
    </div>
  {{end}}
</div>

<script>
	$(function(){
		{{if .flash.success}}
			showToast('{{.flash.success}}', 'success');
		{{else if .flash.error}}
			showToast('{{.flash.error}}', 'danger');
		{{else if .errors}}
			let msg = document.getElementById('flash-errors-meetings-{{.ID}}').innerHTML;
			showToast(msg, 'danger');
		{{end}}
	});
</script>

{{range $key, $value := .meetings}}

  {{if ne $key 0}}
    <br>
  {{end}}

  <small class="form-text text-muted float-left">

    {{if eq .MeetingInterval 0}} <!-- single meeting -->

      <!-- time -->
      {{template "icons/calendar.html" .}} &nbsp;
      <strong>{{.MeetingStartStr}}</strong> {{msg $ "course.clock"}} - <strong>{{.MeetingEndStr}}</strong> {{msg $ "course.clock"}}

    {{else}} <!-- weekly, even or odd meeting -->

      <div class="float-left"> {{template "icons/calendar.html" .}} &nbsp; </div>
      <div class="float-left">
        <strong>
        {{if eq .WeekDay.Int32 0}}
          {{msg $ "meeting.mondays"}}
        {{else if eq .WeekDay.Int32 1}}
          {{msg $ "meeting.tuesdays"}}
        {{else if eq .WeekDay.Int32 2}}
          {{msg $ "meeting.wednesdays"}}
        {{else if eq .WeekDay.Int32 3}}
          {{msg $ "meeting.thursdays"}}
        {{else if eq .WeekDay.Int32 4}}
          {{msg $ "meeting.fridays"}}
        {{else if eq .WeekDay.Int32 5}}
          {{msg $ "meeting.saturdays"}}
        {{else}}
          {{msg $ "meeting.sundays"}}
        {{end}}
        </strong>,

        <strong>
          {{if eq .MeetingInterval 1}}
            {{msg $ "meeting.interval.weekly"}}
          {{else if eq .MeetingInterval 2}}
            {{msg $ "meeting.interval.even"}}
          {{else}}
            {{msg $ "meeting.interval.odd"}}
          {{end}}
        </strong>, &nbsp;
      </div>
      <div class="float-left" id="meeting-{{.ID}}-time"></div>
      <script>
        $(function() {
          //render the meeting start and end in a nice format
          const start = '{{.MeetingStartStr}}';
          const end = '{{.MeetingEndStr}}';
          const startParts = start.split(" ");
          const endParts = end.split(" ");

          const date = startParts[0] + " - " + endParts[0];
          const time = "<strong>" + startParts[1] + "</strong> " + clockMsg + " - <strong>" + endParts[1] + "</strong> " + clockMsg;
          $('#meeting-{{.ID}}-time').html(time + ", " + date);
        });
      </script>
    {{end}}

    <!-- place -->
    {{if .Place.Valid}}
      &nbsp; {{template "icons/geoAlt.html" .}}
      {{.Place.String}}
    {{end}}

    <!-- annotation -->
    {{if .Annotation.Valid}}
      &nbsp; {{template "icons/chatSquare.html" .}}
      {{.Annotation.String}}
    {{end}}
  </small>

  <!-- edit single meeting -->
  {{if eq .MeetingInterval 0}}
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left ml-2"
      onclick='openEditMeeting({{.ID}}, {{.MeetingStartStr}}, {{.MeetingEndStr}},
        {{.Place.String}}, {{.Annotation.String}}, 0, 0, {{.EventID}});'
      title='{{msg $ "title.edit"}}'>
      {{template "icons/pencil.html" . }}
    </a>

  {{else}} <!-- edit weekly meeting -->
    <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left ml-2"
      onclick='openEditMeeting({{.ID}}, {{.MeetingStartStr}}, {{.MeetingEndStr}}, {{.Place.String}},
        {{.Annotation.String}}, {{.WeekDay.Int32}}, {{.MeetingInterval}}, {{.EventID}});'
      title='{{msg $ "title.edit"}}'>
      {{template "icons/pencil.html" . }}
    </a>
  {{end}}

  <!-- duplicate meeting -->
  <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
    onclick='openDuplicateDeleteModal({{msg $ "meeting.duplicate.title"}},
      {{msg $ "meeting.duplicate.confirm"}}, "{{url "EditMeeting.Duplicate"}}",
      "meetings-{{.EventID}}", {{.ID}}, {{.EventID}});'
    title='{{msg $ "title.duplicate"}}'>
    {{template "icons/files.html" . }}
  </a>

  <!-- delete meeting -->
  <a href="#no-scroll" class="badge btn-outline-darkblue edit-show d-none float-left"
    onclick='openDuplicateDeleteModal({{msg $ "meeting.delete.title"}},
      {{msg $ "meeting.delete.confirm"}}, "{{url "EditMeeting.Delete"}}",
      "meetings-{{.EventID}}", {{.ID}}, {{.EventID}});'
    title='{{msg $ "title.delete"}}'>
    {{template "icons/trash.html" . }}
  </a>
{{end}}

{{if .meetings}}
  <br class="edit-show d-none">
{{end}}
