<!-- show the details of a course -->

{{template "header.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

<div class="page page-middle">
  {{if .errMsg}}
    <div class="val-div w-100 text-danger">
      {{.errMsg}}
    </div>
  {{else}}

    {{if not .session.userID}}
      {{if not .course.Visible}}
        {{.session.userID}}
        <h4>
          {{.course.Title}}
        </h4>
        <div class="text-info">
          {{msg $ "course.not.visible.info"}}
        </div>
      {{end}}
    {{end}}

    <!-- participants -->
    {{if .course.CanManageParticipants}}
      <a class="btn btn-outline-darkblue float-right" href='{{url "Participants.Open" .course.ID}}'
        role="button" title='{{msg $ "title.manage.participants"}}'>
        {{template "icons/people.html" . }}
      </a>
    {{end}}

    <!-- edit -->
    {{if .course.CanEdit}}
      <a class="btn btn-outline-darkblue float-right mr-3" href='{{url "Edit.Open" .course.ID}}'
        role="button" title='{{msg $ "title.manage.edit"}}'>
        {{template "icons/pencil.html" . }}
      </a>
    {{end}}

    {{if or .session.userID .course.Visible}}
      {{template "course/course.html" .}}
    {{end}}
  {{end}}
</div>

<div class="page page-side">
  <br class="medium-hidden">
</div>

{{template "course/modals/enterKeyModal.html" .}}
{{template "course/modals/bookSlotModal.html" .}}

{{template "footer.html" .}}
