<!-- show the details of a course -->

{{template "header.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

<div class="page page-middle">
  {{if .errMsg}}
    <div class="val-div w-100 text-danger">
      {{.errMsg}}
    </div>
  {{else}}

    {{if not .session.userID}}
      {{if not .course.Visible}}
        {{.session.userID}}
        <h4>
          {{.course.Title}}
        </h4>
        <div class="text-info">
          {{msg $ "course.not.visible.info"}}
        </div>
      {{end}}
    {{end}}

    {{if or .session.userID .course.Visible}}
      {{template "course/course.html" dict_addLocale $.currentLocale "course" .course}}
    {{end}}
  {{end}}
</div>

<div class="page page-side">
  <br class="medium-hidden">
</div>

{{template "footer.html" .}}
