<!-- all groups created by this user -->

{{range $key, $value := .Groups}}

  {{if ne $key 0}}
    <hr>
  {{end}}

  <!-- group data -->
  <div class="row mb-2">
    <div class="col-sm-5">
      {{msg $ "group.id"}}: {{.ID}}
      {{if .ParentID.Valid}}
        <br>
        {{msg $ "group.parent.id"}}: {{.ParentID.Int32}}
      {{end}}
      {{if .CourseLimit.Valid}}
        <br>
        {{msg $ "group.course.limit"}}: {{.CourseLimit.Int32}}
      {{end}}
    </div>
    <div class="col-sm-7">
      {{.Name}}
      <br>
      {{msg $ "group.last.edited"}}: {{.LastEdited}}
    </div>
  </div>
  
{{end}}
