<!-- template containing the participants managment -->

{{template "header.html" .}}

{{template "manage/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      <!-- show either an open draft or an open course -->
      {{template "icons/people.html" . }}
      &nbsp; {{msg $ "pcpts.tab"}}
    </h4>
    <hr>

    {{if .errMsg}}
      <div class="val-div w-100 text-danger">
        {{.errMsg}}
      </div>
    {{else}}

      <!-- title -->
      <div class="row">
        <div class="col">
          <h4>
            {{.participants.Title}}
          </h4>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-3">
          {{msg $ "course.enrollment.start"}}:
          <br>
          {{.participants.EnrollmentStart}}
        </div>
        <div class="col-sm-3">
          {{msg $ "course.enrollment.end"}}:
          <br>
          {{.participants.EnrollmentEnd}}
        </div>
        <div class="col-sm-3">
          {{msg $ "course.unsubscribe.end"}}:
          <br>
          {{if .participants.UnsubscribeEnd.Valid}}
            {{.participants.UnsubscribeEnd.String}}
          {{else}}
            -
          {{end}}
        </div>
        <div class="col-sm-3">
          {{msg $ "course.expiration.date"}}:
          <br>
          {{.participants.ExpirationDate}}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-outline-darkblue w-100"
            data-toggle="modal" data-target="#download-participants-modal">
            {{template "icons/download.html" . }}
            &nbsp; {{msg $ "pcpts.download.lists"}}
          </button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-outline-darkblue w-100"
            data-toggle="modal" data-target="#email-participants-modal">
            {{template "icons/envelope.html" . }}
            &nbsp; {{msg $ "pcpts.email.send"}}
          </button>
        </div>
      </div>
      <hr>
      <br>

      <h5>
        <div class="d-inline">
          {{msg $ "event"}}: &nbsp;
        </div>
        <div class="d-inline">
          <select class="custom-select w-auto" id="parts-select-event">
            {{range $k, $v := .participants.Lists}}
              <option value="{{.ID}}" {{if eq .ID $.eventID}}selected{{end}}>{{.Title}}</option>
            {{end}}
          </select>
        </div>
      </h5>

      <!-- range events and their participants -->
      {{range $k, $v := .participants.Lists}}
        <div class="collapse select-option select-option-{{.ID}}">

          <!-- event information -->
          {{msg $ "user.participants"}}: {{.Fullness}}/{{.Capacity}}
          {{if .Annotation.Valid}}
            <br>
            {{msg $ "event.annotation"}}: {{.Annotation.String}}
          {{end}}
          <hr>
          <br>

          <!-- field for manual enrollment of users -->
          <small class="form-text text-muted">
            {{msg $ "search.criteria"}}
          </small>
          <form id="search-form-{{$k}}" accept-charset="UTF-8" class="needs-validation"
            novalidate onkeydown="return event.key != 'Enter';">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text border-right-0">
                    {{template "icons/search.html" .}}
                  </span>
                </div>
                <input id="user-search-input-{{$k}}" type="text" class="form-control rounded-right"
                  placeholder='{{msg $ "search.user"}}' required maxlength="127" minlength="3"
                  onkeyup="reactToEntryInput({{$k}}, {{$.participants.ID}}, {{.ID}});"
                  onpaste="reactToEntryInput({{$k}}, {{$.participants.ID}}, {{.ID}});">
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.searchValue"}}
                </div>
              </div>
            </div>
          </form>
          <br>
          <div id="user-search-results-{{$k}}"></div>

          <!-- participants -->
          {{if .Participants}}
            <h5>
              {{template "icons/people.html" . }}
              &nbsp; {{msg $ "pcpts.participants.list"}}
            </h5>
            <hr>
            {{template "participants/list.html" dict_addLocale $.currentLocale "list" .Participants "ID" .CourseID "eventID" .ID}}
            <hr>
            <br>
          {{end}}

          <!-- wait list -->
          {{if .Waitlist}}
            {{if .HasWaitlist}}
              <h5>
                {{template "icons/clock.html" . }}
                &nbsp; {{msg $ "pcpts.wait.list"}}
              </h5>
              <hr>
              {{template "participants/list.html" dict_addLocale $.currentLocale "list" .Waitlist "ID" .CourseID "eventID" .ID}}
              <hr>
              <br>
            {{end}}
          {{end}}

          <!-- unsubscribed users -->
          {{if .Unsubscribed}}
            <h5>
              {{template "icons/arrowRightIn.html" . }}
              &nbsp; {{msg $ "pcpts.unsubscribed"}}
            </h5>
            <hr>
            {{template "participants/list.html" dict_addLocale $.currentLocale "list" .Unsubscribed "ID" .CourseID "eventID" .ID}}
          {{end}}

        </div>
      {{end}}

    {{end}}
  </div>
</div>

<div class="page page-side">
  <div class="page-right-layout">
    <small class="text-muted">
      TODO, z.Bsp. Aktionen erklären, manuelles Verwalten erklären
    </small>
  </div>
</div>

{{template "participants/modals/download.html" .}}
{{template "participants/modals/email.html" .}}

<script src="/public/js/participants.js"></script>

<script>
  {{template "js/participants.js" .}}

  $(function() {
    //adjust the nav pills
    {{if not .participants.Expired}}
      $('#pills-opened-draft').addClass("d-none");
      $('#pills-opened-active').removeClass("d-none");
      $('#pills-opened-expired').addClass("d-none");
    {{else}}
      $('#pills-opened-draft').addClass("d-none");
      $('#pills-opened-active').addClass("d-none");
      $('#pills-opened-expired').removeClass("d-none");
    {{end}}

    //on change hide all divs linked to select and show only linked to selected option
    $('#parts-select-event').change(function(){
      //get the wanted div
      let selector = '.select-option-' + $(this).val();
      //hide all elements
      $('.select-option').collapse('hide');
      //show element connected to selected option
      $(selector).collapse('show');
    });

    let selector = '.select-option-' + $('#parts-select-event').val();
    $('.select-option').collapse('hide');
    $(selector).collapse('show');

    //download and e-mail modal
    toggleEventSelection('selector-events-email');
    toggleEventSelection('selector-events-download');
  });
</script>

{{template "footer.html" .}}
