<!-- template containing the participants managment -->

{{template "header.html" .}}

{{template "manage/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      <!-- show either an open draft or an open course -->
      {{template "icons/people.html" . }}
      &nbsp; {{msg $ "pcpts.tab"}}

      {{if not .participants.Expired}}
        <!-- expire -->
        <button type="button" class="btn btn-outline-darkblue float-lg-right ml-3 d-none admin creator"
          onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
            {{msg $ "creator.course.expire.confirm" .participants.Title}},
            {{url "Creator.Expire" .participants.ID}});'
          title='{{msg $ "title.edit.expire"}}'>
          {{template "icons/archive.html" . }}
        </button>
      {{end}}

      {{if .participants.Expired}}
        <!-- delete -->
        <button type="button" class="btn btn-outline-darkblue float-lg-right ml-3 d-none admin creator"
          onclick='confirmPOSTModal({{msg $ "creator.course.delete.draft.title"}},
            {{msg $ "creator.course.delete.draft.confirm" .participants.Title}},
            {{url "Creator.Delete" .participants.ID}});'
          title='{{msg $ "title.manage.delete"}}'>
          {{template "icons/trash.html" . }}
        </button>
      {{end}}

      <!-- duplicate -->
      <button type="button" class="btn btn-outline-darkblue float-lg-right ml-3 d-none admin creator"
        onclick='openDuplicateModal({{.participants.ID}});'
        title='{{msg $ "title.manage.duplicate"}}'>
        {{template "icons/files.html" . }}
      </button>

      <!-- download -->
      <a class="btn btn-outline-darkblue float-lg-right ml-3 d-none admin creator editor"
        href="#no-scroll" title='{{msg $ "title.manage.download"}}'
        onclick='openDownloadModal({{.participants.ID}});' role="button">
        {{template "icons/download.html" . }}
      </a>

      {{if not .participants.Expired}}
        <!-- edit -->
        <a class="btn btn-outline-darkblue float-lg-right ml-3 d-none admin creator editor"
          href='{{url "Edit.Open" .participants.ID}}' role="button"
          title='{{msg $ "title.manage.edit"}}'>
          {{template "icons/pencil.html" . }}
        </a>
      {{end}}

      <!-- go to -->
      <a class="btn btn-outline-darkblue float-lg-right"
        href='{{url "Course.Open" .participants.ID}}' role="button"
        title='{{msg $ "title.manage.course.view"}}'>
        {{template "icons/eye.html" . }}
      </a>

    </h4>
    <hr>

    {{if .errMsg}}
      <div class="val-div w-100 text-danger">
        {{.errMsg}}
      </div>
    {{else}}

      <!-- title -->
      <div class="row">
        <div class="col">
          <h4>
            {{.participants.Title}}
          </h4>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-3">
          {{msg $ "course.enrollment.start"}}:
          <br>
          {{.participants.EnrollmentStart}}
        </div>
        <div class="col-sm-3">
          {{msg $ "course.enrollment.end"}}:
          <br>
          {{.participants.EnrollmentEnd}}
        </div>
        <div class="col-sm-3">
          {{msg $ "course.unsubscribe.end"}}:
          <br>
          {{if .participants.UnsubscribeEnd.Valid}}
            {{.participants.UnsubscribeEnd.String}}
          {{else}}
            -
          {{end}}
        </div>
        <div class="col-sm-3">
          {{msg $ "course.expiration.date"}}:
          <br>
          {{.participants.ExpirationDate}}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-outline-darkblue w-100"
            data-toggle="modal" data-target="#download-participants-modal">
            {{template "icons/download.html" . }}
            &nbsp; {{msg $ "pcpts.download.lists"}}
          </button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-outline-darkblue w-100"
            data-toggle="modal" data-target="#email-participants-modal">
            {{template "icons/envelope.html" . }}
            &nbsp; {{msg $ "pcpts.email.send"}}
          </button>
        </div>
      </div>
      <hr>
      <br>

      <h5>
        <div>
          {{msg $ "event"}}: &nbsp;
        </div>
      </h5>
      <div class="w-100">
        <select class="custom-select" id="parts-select-event">
          {{range $k, $v := .participants.Lists}}
            <option value="{{.ID}}" {{if eq .ID $.eventID}}selected{{end}}>{{.Title}}</option>
          {{end}}
        </select>
      </div>
      <br>

      <!-- range events and their participants -->
      {{range $k, $v := .participants.Lists}}
        <div class="collapse select-option select-option-{{.ID}}">

          <!-- event information -->
          {{msg $ "user.participants"}}: {{.Fullness}}/{{.Capacity}}
          {{if .Annotation.Valid}}
            <br>
            {{msg $ "event.annotation"}}: {{.Annotation.String}}
          {{end}}
          <hr>
          <br>

          <!-- field for manual enrollment of users -->
          <small class="form-text text-muted">
            {{msg $ "search.criteria"}}
          </small>
          <form id="search-form-{{$k}}" accept-charset="UTF-8" class="needs-validation"
            novalidate onkeydown="return event.key != 'Enter';">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text border-right-0">
                    {{template "icons/search.html" .}}
                  </span>
                </div>
                <input id="user-search-input-{{$k}}" type="text" class="form-control rounded-right"
                  placeholder='{{msg $ "search.user"}}' required maxlength="127" minlength="3"
                  onkeyup="reactToEntryInput({{$k}}, {{$.participants.ID}}, {{.ID}});"
                  onpaste="reactToEntryInput({{$k}}, {{$.participants.ID}}, {{.ID}});">
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.searchValue"}}
                </div>
              </div>
            </div>
          </form>
          <br>
          <div id="user-search-results-{{$k}}"></div>

          <!-- participants -->
          {{if .Participants}}
            <h5>
              {{template "icons/people.html" . }}
              &nbsp; {{msg $ "pcpts.participants.list"}}
            </h5>
            <hr>
            {{template "participants/list.html" dict_addLocale $.currentLocale "list" .Participants "ID" .CourseID "eventID" .ID "hasWaitlist" .HasWaitlist}}
            <hr>
            <br>
          {{end}}

          <!-- wait list -->
          {{if .Waitlist}}
            {{if .HasWaitlist}}
              <h5>
                {{template "icons/clock.html" . }}
                &nbsp; {{msg $ "pcpts.wait.list"}}
              </h5>
              <hr>
              {{template "participants/list.html" dict_addLocale $.currentLocale "list" .Waitlist "ID" .CourseID "eventID" .ID "hasWaitlist" .HasWaitlist}}
              <hr>
              <br>
            {{end}}
          {{end}}

          <!-- unsubscribed users -->
          {{if .Unsubscribed}}
            <h5>
              {{template "icons/arrowRightIn.html" . }}
              &nbsp; {{msg $ "pcpts.unsubscribed"}}
            </h5>
            <hr>
            {{template "participants/list.html" dict_addLocale $.currentLocale "list" .Unsubscribed "ID" .CourseID "eventID" .ID "hasWaitlist" .HasWaitlist}}
          {{end}}

        </div>
      {{end}}

    {{end}}
  </div>
</div>

<div class="page page-side">
  <div class="page-right-layout">
    <small class="text-muted">
    </small>
  </div>
</div>

{{template "participants/modals/download.html" .}}
{{template "participants/modals/email.html" .}}
{{template "participants/modals/changeStatus.html" .}}

<script src="/public/js/participants.js"></script>

<script>
  {{template "js/participants.js" .}}

  $(function() {
    //adjust the nav pills
    {{if not .participants.Expired}}
      $('#pills-opened-draft').addClass("d-none");
      $('#pills-opened-active').removeClass("d-none");
      $('#pills-opened-expired').addClass("d-none");
    {{else}}
      $('#pills-opened-draft').addClass("d-none");
      $('#pills-opened-active').addClass("d-none");
      $('#pills-opened-expired').removeClass("d-none");
    {{end}}

    //on change hide all divs linked to select and show only linked to selected option
    $('#parts-select-event').change(function(){
      //get the wanted div
      let selector = '.select-option-' + $(this).val();
      //hide all elements
      $('.select-option').collapse('hide');
      //show element connected to selected option
      $(selector).collapse('show');
    });

    let selector = '.select-option-' + $('#parts-select-event').val();
    $('.select-option').collapse('hide');
    $(selector).collapse('show');

    //download and e-mail modal
    toggleEventSelection('selector-events-email');
    toggleEventSelection('selector-events-download');
  });
</script>

{{template "footer.html" .}}
