<!-- change editors modal -->

<div class="modal fade" id="change-editors-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header background-color-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "creator.add.editor"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="search-form-editor" accept-charset="UTF-8" action='{{url "EditCourse.ChangeUserList"}}' method="POST" class="needs-validation" novalidate>
        <div class="modal-body">

          <!-- course ID -->
          <input type="hidden" name="ID" value="{{.ID}}">
          <!-- user ID -->
          <input id="input-list-editor" type="hidden" name="userID">
          <!-- list type -->
          <input type="hidden" name="listType" value="editor">

          <!--search for users -->
          <small class="form-text text-muted">
            {{msg $ "search.criteria"}}
          </small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text border-right-0">
                  {{template "icons/search.html" . }}
                </span>
              </div>
              <input id="user-search-input-editor" type="text" class="form-control rounded-right" placeholder='{{msg $ "search.user"}}' required maxlength="127" minlength="3">
              <div class="invalid-feedback">
                {{msg $ "validation.invalid.searchValue"}}
              </div>
            </div>
          </div>
          <div class="form-group form-check">
            <input id="search-inactive-editor" type="checkbox" class="form-check-input">
            <label class="form-check-label text-body">
              {{msg $ "search.inactive.users"}}
            </label>
          </div>

          <br>
          <div id="user-search-results-editor"></div>
        </div>
      </form>

      <!-- modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-darkblue" data-dismiss="modal">
          {{msg $ "button.close"}}
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    //react to user input
    $('#user-search-input-editor').keyup(function() {
      reactToListInput("editor");
    });

    $('#search-inactive-editor').change(function() {
      reactToListInput("editor");
    });
  });
</script>
