<!-- change unsubscribe end modal -->

<div class="modal fade" id="change-unsubscribe-end-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header background-color-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "course.unsubscribe.end"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form accept-charset="UTF-8" action='{{url "EditCourse.ChangeUnsubscribeEnd"}}' method="POST" class="needs-validation" novalidate>

        <div class="modal-body">
          <!-- course ID -->
          <input type="hidden" name="ID" value="{{.ID}}">

          <small class="form-text text-muted">
            {{msg $ "creator.unsubscribe.end.info"}}
          </small>
          <div class="row">
            <div class="col">
              <!-- unsubscribe end date -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {{template "icons/calendar.html" .}}
                  </span>
                </div>
                <input id="unsub-date" type="date" max='2200-01-01' name="date" class="form-control rounded-right" required>
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.date"}}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {{template "icons/clock.html" .}}
                  </span>
                </div>
                <input id="unsub-time" type="time" name="time" class="form-control rounded-right" required>
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.time"}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function() {
    if ({{.UnsubscribeEnd.Valid}}) {
      const str = '{{.UnsubscribeEnd.String}}';
      const timestamp = str.split(" ");
      $('#unsub-date').val(timestamp[0]);
      $('#unsub-time').val(timestamp[1]);
    }

    //set the minimum date
    const strEnroll = '{{.EnrollmentEnd}}';
    const timestampEnroll = strEnroll.split(" ");
    $('#unsub-date').attr("min", timestampEnroll[0]);
  });
</script>
