<!-- change course title modal -->

<div class="modal fade" id="change-title-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header background-color-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "course.title"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form accept-charset="UTF-8" action='{{url "EditCourse.ChangeTitle"}}' method="POST" class="needs-validation" novalidate>

        <div class="modal-body">
          <!-- course ID -->
          <input type="hidden" name="ID" value="{{.ID}}">

          <!-- course title -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/pencil.html" .}}
              </span>
            </div>
            <input type="text" class="form-control rounded-right" name="title" value="{{.Title}}" placeholder='{{msg $ "course.title"}}' required minlength="3" maxlength="511">
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.title"}}
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
