<!-- change text fields

modalID:        change-text-modal
titleID:        change-text-modal-title         html
textTypeID:     change-text-modal-type          value
inputID:        change-text-modal-input         name, value, placeholder, maxlength
validationID:   change-text-modal-validation    html
-->

<div class="modal fade" id="change-text-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <form id="change-text-modal-form" accept-charset="UTF-8" action='{{url "EditCourse.ChangeText"}}' method="POST" class="needs-validation" novalidate>

        <!-- modal header -->
        <div class="modal-header background-color-darkblue border-radius-2">
          <h5 class="modal-title text-white" id="change-text-modal-title"></h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- modal body -->
        <div class="modal-body">
          <!-- course ID -->
          <input type="hidden" name="ID" value="{{.ID}}">
          <!-- input text type -->
          <input type="hidden" name="textType" id="change-text-modal-type" required>

          <!-- text input -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/pencil.html" .}}
              </span>
            </div>
            <input name="data" id="change-text-modal-input" type="text" class="form-control rounded-right" required minlength="3">
            <div id="change-text-modal-validation" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
