<!-- change timestamp modal

titleID:      change-timestamp-modal-title      html
infoID:       change-timestamp-modal-info       html
typeID:       change-timestamp-modal-type       value
dateID:       change-timestamp-modal-date       value
timeID:       change-timestamp-modal-time       value
-->

<div class="modal fade" id="change-timestamp-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header background-color-darkblue border-radius-2">
        <h5 class="modal-title text-white" id="change-timestamp-modal-title"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form accept-charset="UTF-8" action='{{url "EditCourse.ChangeTimestamp"}}' method="POST" class="needs-validation" novalidate>

        <div class="modal-body">
          <!-- course ID -->
          <input type="hidden" name="ID" value="{{.ID}}">
          <!-- timestampType -->
          <input type="hidden" name="timestampType" id="change-timestamp-modal-type">

          <small class="form-text text-muted" id="change-timestamp-modal-info">
          </small>
          <div class="row">
            <div class="col">
              <!-- date -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {{template "icons/calendar.html" .}}
                  </span>
                </div>
                <input id="change-timestamp-modal-date" type="date" max='2200-01-01' min="1980-01-01" name="date" class="form-control rounded-right" required>
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.date"}}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {{template "icons/clock.html" .}}
                  </span>
                </div>
                <input id="change-timestamp-modal-time" type="time" name="time" class="form-control rounded-right" required>
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.time"}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
