<!-- modal to insert/update groups -->

<div class="modal fade z-idx-5000" id="admin-group-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header bg-darkblue border-radius-2">
        <h5 class="modal-title text-white" id="admin-group-modal-title"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- form -->
      <form id="admin-group-modal-form" accept-charset="UTF-8" method="POST"
        class="needs-validation" novalidate>

        <div class="modal-body">

          <!-- ID -->
          <input type="hidden" id="admin-group-modal-ID" name="group.ID">
          <!-- parent ID -->
          <input type="hidden" id="admin-group-modal-parentID" name="group.ParentID.Int32">

          <!-- group name -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/pencil.html" .}}
              </span>
            </div>
            <input id="admin-group-modal-name" type="text" class="form-control rounded-right" name="group.Name"
              placeholder='{{msg $ "group.name"}}' required minlength="3" maxlength="255">
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.groupName"}}
            </div>
          </div>

          <!-- course limit -->
          <small class="form-text text-muted" id="admin-group-modal-info-1">
            {{msg $ "group.inherits.limit.info"}}
          </small>
          <small class="form-text text-muted" id="admin-group-modal-info-2">
            {{msg $ "group.course.limit.x.info"}}
          </small>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/pencil.html" .}}
              </span>
            </div>
            <input id="admin-group-modal-courseLimits" min="1" max="100" type="number" name="group.CourseLimit.Int32"
              class="form-control rounded-right" placeholder='{{msg $ "group.course.limit"}}'>
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.courseLimit"}}
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
