<!-- modal to insert/update help page entries -->

<div class="modal fade z-idx-5000" id="admin-entry-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header bg-darkblue border-radius-2">
        <h5 class="modal-title text-white" id="admin-entry-modal-title"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- form -->
      <form id="admin-entry-modal-form" accept-charset="UTF-8" method="POST"
        class="needs-validation" novalidate>

        <div class="modal-body">

          <!-- ID -->
          <input type="hidden" id="admin-entry-modal-ID" name="entry.ID">
          <!-- table type -->
          <input type="hidden" id="admin-entry-modal-table" name="entry.IsFAQ">

          <!-- select category -->
          <small class="form-text text-muted">
            {{msg $ "category.select"}}
          </small>
          <div class="input-group mb-3">
            <select id="admin-entry-modal-category" name="entry.CategoryID" class="custom-select rounded-right">
              {{range $key, $value := .categories}}
                <option value="{{.ID}}" {{if eq $key 0}}selected{{end}}>
                  {{.Name}}
                </option>
              {{end}}
            </select>
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.option"}}
            </div>
          </div>

          <!-- content 1 -->
          <div id="admin-entry-modal-content1-name"></div>
          <!-- quill editor 1 -->
          <div id="admin-entry-modal-content1">
          </div>
          <!-- hidden text area -->
          <textarea class="d-none" id="admin-entry-modal-value1" required>
          </textarea>

          <!-- content 2 -->
          <div id="admin-entry-modal-content2-name" class="mt-3"></div>
          <!-- quill editor 2 -->
          <div id="admin-entry-modal-content2">
          </div>
          <!-- hidden text area -->
          <textarea class="d-none" id="admin-entry-modal-value2">
          </textarea>
          <div class="invalid-feedback">
            {{msg $ "validation.invalid.text.area"}}
          </div>

        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
