<!-- showing additional information about the buttons/actions for active courses -->

<h4>
  {{msg $ "creator.wiki"}}
</h4>
<hr>

<p> {{msg $ "creator.courses.active"}} </p>
<small class="form-text text-muted">
  {{msg $ "creator.info.active"}}
  <hr>

  {{template "icons/eye.html" . }} &nbsp;
  {{msg $ "creator.info.active.goto"}}
  <hr>

  <div class="d-none admin creator editor">
    {{template "icons/pencil.html" . }} &nbsp;
    {{msg $ "creator.info.active.edit"}}
    <hr>
  </div>

  <div class="d-none admin creator editor">
    {{template "icons/download.html" . }} &nbsp;
    {{msg $ "creator.info.active.download"}}
    <hr>
  </div>

  <div class="d-none admin creator">
    {{template "icons/files.html" . }} &nbsp;
    {{msg $ "creator.info.draft.duplicate"}}
    <hr>
  </div>

  {{template "icons/people.html" . }} &nbsp;
  {{msg $ "creator.info.active.user"}}

</small>
