<!-- template containing the new course creation -->

{{template "header.html" .}}

{{template "creator/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      {{template "icons/paperclip.html" . }}
      &nbsp; {{msg $ "creator.drafts"}}
    </h4>
    <hr>

    <div id="get-drafts">
    </div>

  </div>
</div>

{{template "creator/rightNav.html" . }}

<script>

  //loads the groups template
  function getDrafts() {
    $.get('{{url "Creator.GetDrafts"}}', {
    }, function(data) {
      $('#get-drafts').html(data);
    })
  }

  $(function() {
    //adjust the nav pills
    $('#v-pills-drafts-tab').addClass("active");
    getDrafts();
  });
</script>

{{template "footer.html" .}}
