<!-- template rendering the new course modal -->

<!-- new course modal -->
<div class="modal fade" id="new-course-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!-- content is loaded into this div -->
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header bg-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "creator.course.new"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="new-course-form" enctype="multipart/form-data" action='{{url "Creator.New"}}' method="POST" class="needs-validation" novalidate>

        <!-- modal body -->
        <div class="modal-body">

          <!-- title -->
          <small class="form-text text-muted">
            {{msg $ "creator.title.working.info"}}
          </small>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/pencil.html" .}}
              </span>
            </div>
            <input type="text" class="form-control rounded-right" name="param.Title" placeholder='{{msg $ "course.title"}}' required minlength="3" maxlength="511">
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.text"}}
            </div>
          </div>

          <!-- load option -->
          <small class="form-text text-muted">
            {{msg $ "creator.drafts.info"}}
          </small>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text border-right-0"> {{msg $ "creator.draft"}} </label>
            </div>
            <select name="param.Option" class="custom-select rounded-right" id="select-option">
              <option value="0" selected> {{msg $ "creator.course.blank"}}</option>
              <option value="1"> {{msg $ "creator.course.draft"}} </option>
              <option value="2"> {{msg $ "creator.course.upload"}} </option>
            </select>
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.option"}}
            </div>
          </div>

          <div id="file-upload-section" class="d-none">
            <small class="form-text text-muted">
              {{msg $ "creator.upload.info"}}
            </small>
            <small class="form-text text-muted">
              {{msg $ "creator.upload.info2"}}
            </small>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input id="custom-file-upload" type="file" accept="application/json" data-max-size="512000" name="file" class="custom-file-input" onchange="uploadFeedback();">
                <label class="custom-file-label">
                  {{msg $ "creator.upload.file"}}
                </label>
              </div>
            </div>
            <div class="text-success d-none" id="file-upload-success">
            </div>
          </div>

          <div id="search-draft-section" class="d-none">

            <input type="hidden" name="param.CourseID" id="new-course-input-ID">

            <small class="form-text text-muted">
              {{msg $ "creator.course.draft.info"}}
            </small>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text border-right-0">
                  {{template "icons/search.html" . }}
                </span>
              </div>

              <!-- input -->
              <input class="form-control dropdown-toggle rounded-right" type="search"
                placeholder='{{msg $ "search.course"}}' id="new-index-search"
                onkeyup='searchCourseDrafts("new-index-search", "content-index-search",
                  {{url "Creator.Search"}});'>

              <!-- results -->
              <div class="d-none" id="content-index-search">
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.create"}}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  const uploadMsg = '{{msg $ "creator.uploaded.file"}}';

  $(function() {
    //add submit listener to the new modal form
    const form = document.getElementById('new-course-form');
    form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);

    //add listener for selected option
    $("#select-option").change(function() {
      showChosenOption();
    });

    //set the correct option after reload
    showChosenOption();
  });
</script>
