
{{template "editCourse/modals/changeBool.html" dict_addLocale $.currentLocale}}
{{template "editCourse/modals/changeGroup.html" dict_addLocale $.currentLocale "ID" .course.ID "Path" .course.Path}}
{{template "editCourse/modals/changeInt.html" dict_addLocale $.currentLocale}}
{{template "editCourse/modals/changeText.html" dict_addLocale $.currentLocale}}
{{template "editCourse/modals/changeTextArea.html" dict_addLocale $.currentLocale "ID" .course.ID}}
{{template "editCourse/modals/changeTimestamp.html" dict_addLocale $.currentLocale}}
{{template "editCourse/modals/changeUserList.html" dict_addLocale $.currentLocale "ID" .course.ID}}

{{template "editCourse/modals/newMeeting.html" dict_addLocale $.currentLocale}}
{{template "editCourse/modals/editMeetingSingle.html" dict_addLocale $.currentLocale}}
{{template "editCourse/modals/editMeetingWeekly.html" dict_addLocale $.currentLocale}}

<script src="/public/js/editCourse.js"></script>
