<!-- template containing the new course creation -->

{{template "header.html" .}}

{{template "creator/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    {{template "course/course.html" dict_addLocale $.currentLocale "course" .course}}

    <!-- load all modals responsible for changing content -->
    {{template "editCourse/loadModals.html" dict_addLocale $.currentLocale "course" .course}}

  </div>
</div>

{{template "creator/rightNav.html" . }}

{{template "footer.html" .}}
