<!-- template containing the new course creation -->

{{template "header.html" .}}

{{template "manageCourses/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      <!-- show either an open draft or an open course -->
      {{template "icons/folder.html" . }}
      {{if .course.Active}}
        &nbsp; {{msg $ "creator.course.is.open"}}
      {{else}}
        &nbsp; {{msg $ "creator.course.draft.is.open"}}
      {{end}}

      <br class="desktop-hidden">
      <br class="desktop-hidden">

      {{if eq .session.role "admin"}}
        {{if not .course.Active}}
          <!-- activate the course -->
          <button type="button" class="btn btn-outline-darkblue float-lg-right"
            onclick='confirmPOSTModal({{msg $ "creator.course.activate.title"}},
              {{msg $ "creator.course.activate.confirm" .course.Title}},
              {{url "Creator.Activate" .course.ID}});'>
            {{template "icons/unlock.html" . }}
          </button>
        {{else}}
          <!-- expire the course -->
          <button type="button" class="btn btn-outline-darkblue float-lg-right"
            onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
              {{msg $ "creator.course.expire.confirm" .course.Title}},
              {{url "Creator.Expire" .course.ID}});'>
            {{template "icons/archive.html" . }}
          </button>
        {{end}}
      {{else}}
        {{if eq .course.CreatorID .session.userID}}
          {{if not .course.Active}}
            <!-- activate the course -->
            <button type="button" class="btn btn-outline-darkblue float-left float-lg-right"
              onclick='confirmPOSTModal({{msg $ "creator.course.activate.title"}},
                {{msg $ "creator.course.activate.confirm" .course.Title}},
                {{url "Creator.Activate" .course.ID}});'>
              {{template "icons/unlock.html" . }}
            </button>
          {{else}}
            <!-- expire the course -->
            <button type="button" class="btn btn-outline-darkblue float-left float-lg-right"
              onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
                {{msg $ "creator.course.expire.confirm" .course.Title}},
                {{url "Creator.Expire" .course.ID}});'>
              {{template "icons/archive.html" . }}
            </button>
          {{end}}
        {{end}}
      {{end}}

      {{if not .course.Active}}
        <!-- validate course -->
        <form class="float-left float-lg-right mr-3" action='{{url "EditCourse.Validate" .course.ID}}' method="POST">
          <button type="submit" class="btn btn-outline-darkblue">
            {{template "icons/checkAll.html" . }}
          </button>
        </form>
      {{end}}

      <button id="preview-btn" type="button" class="btn btn-outline-darkblue float-left float-lg-right mr-3" onclick="showPreview();">
        {{template "icons/aspectRatio.html" . }}
      </button>
      <button id="hide-preview-btn" type="button" class="btn btn-outline-darkblue float-left float-lg-right mr-3 d-none" onclick="hidePreview();">
        {{template "icons/pencil.html" . }}
      </button>
    </h4>
    <hr>

    {{if .errMsg}}
      <div class="val-div w-100 text-danger">
        {{.errMsg}}
      </div>
    {{else}}
      {{template "course/course.html" dict_addLocale $.currentLocale "course" .course}}
      <!-- load all modals responsible for changing content -->
      {{template "editCourse/loadModals.html" dict_addLocale $.currentLocale "course" .course}}
    {{end}}
  </div>
</div>

<div class="page page-side page-side-right pl-desktop-12">
  {{template "toast.html" .}}
  <div class="position-fixed border-left pl-4 pr-4 h-65 overflow-y">
    {{template "editCourse/wiki.html"  dict_addLocale $.currentLocale "active" .course.Active "expired" .course.Expired}}
  </div>
</div>

<script src="/public/js/editCourse.js"></script>

<script>
  {{template "js/editCourse.js" .}}

  $(function() {
    //adjust the nav pills
    {{if not .course.Active}}
      $('#pills-opened-draft').removeClass("d-none");
      $('#pills-opened-active').addClass("d-none");
      $('#pills-opened-expired').addClass("d-none");
    {{else}}
      {{if not .course.Expired}}
        $('#pills-opened-draft').addClass("d-none");
        $('#pills-opened-active').removeClass("d-none");
        $('#pills-opened-expired').addClass("d-none");
      {{else}}
        $('#pills-opened-draft').addClass("d-none");
        $('#pills-opened-active').addClass("d-none");
        $('#pills-opened-expired').removeClass("d-none");
      {{end}}
    {{end}}

    //react to only ldap switch events
    $('#change-ldap-switch').change(function() {
      $('#change-ldap-form').submit();
    });

    //react to visibility switch events
    $('#change-visibility-switch').change(function() {
      $('#change-visibility-form').submit();
    });
  });
</script>

{{template "footer.html" .}}
