<!-- template containing the new course creation -->

{{template "header.html" .}}

{{template "manageCourses/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      <!-- show either an open draft or an open course -->
      {{template "icons/folder.html" . }}
      {{if .course.Active}}
        &nbsp; {{msg $ "creator.course.is.open"}}
      {{else}}
        &nbsp; {{msg $ "creator.course.draft.is.open"}}
      {{end}}

      {{if eq .session.role "admin"}}
        {{if not .course.Active}}
          <!-- activate the course -->
          <button type="button" class="btn btn-outline-darkblue float-right"
            onclick='confirmPOSTModal({{msg $ "creator.course.activate.title"}},
              {{msg $ "creator.course.activate.confirm" .course.Title}},
              {{url "Creator.Activate" .course.ID}});'>
            {{msg $ "creator.course.activate"}}
          </button>
        {{else}}
          <!-- expire the course -->
          <button type="button" class="btn btn-outline-darkblue float-right"
            onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
              {{msg $ "creator.course.expire.confirm" .course.Title}},
              {{url "Creator.Expire" .course.ID}});'>
            {{msg $ "creator.course.expire"}}
          </button>
        {{end}}
      {{else}}
        {{if eq .course.CreatorID .session.userID}}
          {{if not .course.Active}}
            <!-- activate the course -->
            <button type="button" class="btn btn-outline-darkblue float-right"
              onclick='confirmPOSTModal({{msg $ "creator.course.activate.title"}},
                {{msg $ "creator.course.activate.confirm" .course.Title}},
                {{url "Creator.Activate" .course.ID}});'>
              {{msg $ "creator.course.activate"}}
            </button>
          {{else}}
            <!-- expire the course -->
            <button type="button" class="btn btn-outline-darkblue float-right"
              onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
                {{msg $ "creator.course.expire.confirm" .course.Title}},
                {{url "Creator.Expire" .course.ID}});'>
              {{msg $ "creator.course.expire"}}
            </button>
          {{end}}
        {{end}}
      {{end}}

      {{if not .course.Active}}
        <!-- validate course -->
        <form class="float-right margin-right-20" action='{{url "EditCourse.Validate" .course.ID}}' method="POST">
          <button type="submit" class="btn btn-outline-darkblue">
            {{msg $ "creator.course.validate"}}
          </button>
        </form>
      {{end}}

      <button id="preview-btn" type="button" class="btn btn-outline-darkblue float-right margin-right-20" onclick="showPreview();">
        {{msg $ "creator.course.preview"}}
      </button>
    </h4>
    <hr>

    {{if .errMsg}}
      <div class="warning-feedback color-danger">
        {{.errMsg}}
      </div>
    {{else}}
      {{template "course/course.html" dict_addLocale $.currentLocale "course" .course}}
      <!-- load all modals responsible for changing content -->
      {{template "editCourse/loadModals.html" dict_addLocale $.currentLocale "course" .course}}
    {{end}}
  </div>
</div>

<div class="page page-side page-side-right page-padding-left">
  <div class="position-fixed border-left page-padding-left-small page-side-right page-add-scroll">
    {{template "toast.html" .}}
    {{template "editCourse/catalog.html"  dict_addLocale $.currentLocale "active" .course.Active "expired" .course.Expired}}
  </div>
</div>

<script>
  $(function() {
    //adjust the nav pills
    {{if not .course.Active}}
      $('#pills-opened-draft').removeClass("display-none");
      $('#pills-opened-active').addClass("display-none");
      $('#pills-opened-expired').addClass("display-none");
    {{else}}
      {{if not .course.Expired}}
        $('#pills-opened-draft').addClass("display-none");
        $('#pills-opened-active').removeClass("display-none");
        $('#pills-opened-expired').addClass("display-none");
      {{else}}
        $('#pills-opened-draft').addClass("display-none");
        $('#pills-opened-active').addClass("display-none");
        $('#pills-opened-expired').removeClass("display-none");
      {{end}}
    {{end}}
  });
</script>

{{template "footer.html" .}}
