<!-- the activation page contains the account activation form -->

{{template "header.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

<div class="page page-middle">
  <center>

    <h3>
      {{msg $ "activation.page"}}
    </h3>
    <br>
    <div class="w-form">

      <!-- GET form -->
      <form id="activation-code-form" accept-charset="UTF-8" action='{{url "User.VerifyActivationCode"}}'
        method="GET" class="needs-validation" novalidate>

        <!-- activation code -->
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/lock.html" .}}
              </span>
            </div>
            {{with $field := field "activationCode" .}}
              <input type="text" class="form-control rounded-right" name="{{$field.Name}}"
                value="{{$field.Flash}}" placeholder='{{msg $ "activation.code"}}'
                required maxlength="7" minlength="7">
            {{end}}
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.activation"}}
            </div>
          </div>
        </div>

        <br>
        <!-- submit form -->
        <button class="btn btn-darkblue" type="submit">
          {{msg $ "button.activate.account"}}
        </button>
      </form>
    </div>

    <!-- request new activation code -->
    <br>
    <br>
    <a href='{{url "User.NewActivationCode"}}'>
      {{template "icons/envelope.html" . }} &nbsp;
      {{msg $ "activation.resend"}}
    </a>

  </center>
</div>

<div class="page page-side">
  <br class="medium-hidden">
</div>

{{template "footer.html" .}}
