<!-- template rendering the modal for changing the password of an user -->

<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header bg-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "profile.change.pw"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action='{{url "User.ChangePassword"}}' method="GET"
        class="needs-validation" novalidate>

        <!-- modal body -->
        <div class="modal-body">

          <!-- old password -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/lock.html" .}}
              </span>
            </div>
            <input type="password" class="form-control rounded-right" name="oldPw"
              placeholder='{{msg $ "profile.old.password"}}' required maxlength="127" minlength="6">
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.password"}}
            </div>
          </div>

          <!-- new password -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/lock.html" .}}
              </span>
            </div>
            <input type="password" class="form-control rounded-right" name="newPw1"
              placeholder='{{msg $ "user.password"}}' required maxlength="127" minlength="6">
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.password"}}
            </div>
          </div>

          <!-- repeat password -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/lock.html" .}}
              </span>
            </div>
            <input type="password" class="form-control rounded-right" name="newPw2"
              placeholder='{{msg $ "register.repeat.pw"}}' required maxlength="127" minlength="6">
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.password"}}
            </div>
          </div>

        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
