<!-- the new password page contains the form to request a new passord -->

{{template "header.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

<div class="page page-middle">
  <center>
    <h3>
      {{msg $ "new.pw.page"}}
    </h3>
    <br>
    <div class="w-form">

      <!-- POST form -->
      <form id="new-password-form" accept-charset="UTF-8" action='{{url "User.NewPassword"}}'
        method="POST" class="needs-validation" novalidate>

        <!-- enter e-mail address -->
        <div class="col">
          <small class="form-text text-muted">
            {{msg . "new.pw.info"}}
          </small>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/envelope.html" .}}
              </span>
            </div>
            {{with $field := field "email" .}}
              <input type="email" class="form-control rounded-right" name="{{$field.Name}}"
                value="{{$field.Flash}}" placeholder='{{msg $ "user.email"}}'
                required maxlength="255">
            {{end}}
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.email"}}
            </div>
          </div>
        </div>

        <br>
        <!-- submit form -->
        <button class="btn btn-darkblue" type="submit">
          {{msg $ "button.send"}}
        </button>
      </form>
    </div>

  </center>
</div>

<div class="page page-side">
  <br class="medium-hidden">
</div>

{{template "footer.html" .}}
