<!-- the new password page provides the form to request a new passord -->

{{template "header.html" .}}

<div class="page page-side page-side-left">
  <br class="mobile-hidden">
</div>

<div class="page page-middle">
  <center>
    <h3>
      {{msg $ "new.pw.page"}}
    </h3>
    <br>
    <div class="login-width">

      <!-- enter e-mail to request a new password form -->
      <form id="new-password-form" accept-charset="UTF-8" action='{{url "User.NewPassword"}}' method="POST" class="needs-validation" novalidate>

        <div class="col">
          <small class="form-text text-muted">
            {{msg . "new.pw.info"}}
          </small>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                {{template "icons/envelope.html" .}}
              </span>
            </div>
            {{with $field := field "email" .}}
              <input type="email" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder='{{msg $ "user.email"}}' required maxlength="255">
            {{end}}
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.email"}}
            </div>
          </div>
        </div>

        <br>
        <!-- button to confirm new password -->
        <button class="btn btn-darkblue" type="submit">
          {{msg $ "button.send"}}
        </button>
      </form>
    </div>

  </center>
</div>

<div class="page page-side page-side-right">
  {{template "toast.html" .}}
</div>

<script>
  $(function() {
    //detect validation error
    if ({{if .errors}}true{{else}}false{{end}}) {
      showErrorToast($('#flash-errors').html());
    }
  });
</script>

{{template "footer.html" .}}
