<!-- the preferred language page prompts the user to enter his preferred language -->

{{template "header.html" .}}

<div class="page page-side page-side-left">
  <br class="mobile-hidden">
</div>

<div class="page page-middle">
  <center>
    <h3>
      {{msg $ "prefLang.title"}}
    </h3>
    <br>
    <div class="login-width">

      <!-- set preferred language form -->
      <form id="pref-lang-form" accept-charset="UTF-8" action='{{url "User.SetPrefLanguage"}}' method="POST" class="needs-validation" novalidate>

        <div class="col login-width-tab">
          <small class="form-text text-muted">
            {{msg $ "prefLang.info"}}
          </small>
          <br>
          <select name="prefLanguage" class="custom-select">
            {{range .languages}}
              <option value="{{.}}" {{if eq $.currentLocale .}}selected="selected"{{end}}> {{.}} </option>
            {{end}}
          </select>
        </div>

        {{range .errors}}
          <div class="warning-feedback">
            {{.}}
          </div>
        {{end}}
        <br>
        <!-- button to confirm preferred language -->
        <button class="btn btn-darkblue" type="submit">
          {{msg $ "button.save"}}
        </button>
      </form>
    </div>

  </center>
</div>

<div class="page page-side page-side-right">
  {{template "toast.html" .}}
</div>

<script>
  if ({{if .errors}}true{{else}}false{{end}}) {
    $("#pref-lang-form").addClass("was-validated");
  }
</script>

{{template "footer.html" .}}
