<!-- profile -->

{{template "header.html" .}}

<div class="page page-side">
  <div class="page-left-layout">
    <h4>
      {{msg $ "profile.page"}}
    </h4>
    <hr>

    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

      <!-- user information -->
      <a class="nav-link active btn-outline-darkblue m-1" id="v-pills-info-tab" data-toggle="pill"
        href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">
        {{template "icons/infoSquare.html" .}}
        &nbsp; {{msg $ "profile.user.info"}}
      </a>

      <!-- active events -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-active-tab" data-toggle="pill"
        href="#v-pills-active" role="tab" aria-controls="v-pills-active" aria-selected="false">
        {{template "icons/layoutTextSidebarReversed.html" . }}
        &nbsp; {{msg $ "profile.active.events"}}
      </a>

      <!-- expired events -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-expired-tab" data-toggle="pill"
        href="#v-pills-expired" role="tab" aria-controls="v-pills-expired" aria-selected="false">
        {{template "icons/archive.html" . }}
        &nbsp; {{msg $ "profile.expired.events"}}
      </a>

      <!-- active slots -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-activeSlots-tab" data-toggle="pill"
        href="#v-pills-activeSlots" role="tab" aria-controls="v-pills-activeSlots" aria-selected="false">
        {{template "icons/calendar2Check.html" . }}
        &nbsp; {{msg $ "profile.activeSlots.events"}}
      </a>

      <!-- expired slots -->
      <a class="nav-link btn-outline-darkblue m-1" id="v-pills-expiredSlots-tab" data-toggle="pill"
        href="#v-pills-expiredSlots" role="tab" aria-controls="v-pills-expiredSlots" aria-selected="false">
        {{template "icons/calendar2x.html" . }}
        &nbsp; {{msg $ "profile.expiredSlots.events"}}
      </a>
    </div>
  </div>
</div>

<div class="page page-middle">

  <div class="tab-content" id="v-pills-tabContent">

    <!-- user information -->
    <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel"
      aria-labelledby="v-pills-info-tab">

      <h4>
        {{template "icons/infoSquare.html" .}}
        &nbsp; {{msg $ "profile.user.info"}}
      </h4>
      <hr>
      <br>

      <!-- name -->
      <div class="row">
        <div class="col-sm-3">
          <small class="text-muted">
            {{msg $ "user.name"}}:
          </small>
        </div>
        <div class="col-sm-9">
          {{template "templates/salutation.html" dict_addLocale $.currentLocale "User" .user}}
        </div>
      </div>

      <!-- e-mail -->
      <div class="row">
        <div class="col-sm-3">
          <small class="text-muted">
            {{msg $ "user.email"}}:
          </small>
        </div>
        <div class="col-sm-9">
          {{.user.EMail}}
        </div>
      </div>
      <br>

      <!-- role -->
      <div class="row">
        <div class="col-sm-3">
          <small class="text-muted">
            {{msg $ "user.role"}}:
          </small>
        </div>
        <div class="col-sm-9">
          {{if eq .user.Role 2}}
            {{msg $ "user.role.admin"}}
          {{else if eq .user.Role 1}}
            {{msg $ "user.role.creator"}}
          {{else}}
            {{msg $ "user.role.user"}}
          {{end}}
        </div>
      </div>
      <br>

      <!-- language -->
      <div class="row">
        <div class="col-sm-3">
          <small class="text-muted">
            {{msg $ "user.language.email"}}:
          </small>
        </div>
        <div class="col-sm-9">
          {{.user.Language.String}}
        </div>
      </div>
      <br>

      <!-- first login -->
      <div class="row">
        <div class="col-sm-3">
          <small class="text-muted">
            {{msg $ "user.first.login"}}:
          </small>
        </div>
        <div class="col-sm-9">
          {{.user.FirstLogin}}
        </div>
      </div>

      <!-- last login -->
      <div class="row">
        <div class="col-sm-3">
          <small class="text-muted">
            {{msg $ "user.last.login"}}:
          </small>
        </div>
        <div class="col-sm-9">
          {{.user.LastLogin}}
        </div>
      </div>
      <br>

      <!-- affiliation -->
      {{if .user.IsLDAP}}
        <div class="row">
          <div class="col-sm-3">
            <small class="text-muted">
              {{msg $ "user.affiliation"}}:
            </small>
          </div>
          <div class="col-sm-9">
            {{range $i, $t := .user.Affiliations.Affiliations}}
              {{if ne $i 0}}<br>{{end}}
              {{if eq $t "Student"}}
                {{msg $ "user.affiliation.student"}}
              {{else if eq $t "Mitarbeiter"}}
                {{msg $ "user.affiliation.staff"}}
              {{else if eq $t "Funktion"}}
                {{msg $ "user.affiliation.function"}}
              {{else}}
                {{$t}}
              {{end}}
            {{end}}
          </div>
        </div>
        <br>
      {{end}}

      <!-- matriculation number -->
      {{if .user.MatrNr.Valid}}
        <div class="row">
          <div class="col-sm-3">
            <small class="text-muted">
              {{msg $ "user.matr.nr"}}:
            </small>
          </div>
          <div class="col-sm-9">
            {{if .user.MatrNr.Valid}}
              {{.user.MatrNr.Int32}}
            {{end}}
          </div>
        </div>
        <br>
      {{end}}

      <!-- courses of studies -->
      {{if .user.Studies}}
        <div class="row">
          <div class="col-sm-3">
            <small class="text-muted">
              {{msg $ "user.course.of.studies"}}:
            </small>
          </div>
          <div class="col-sm-9">
            {{range $i, $v := .user.Studies}}
              {{if ne $i 0}}<hr>{{end}}
              {{.Degree}}
              <br>
              {{.CourseOfStudies}}
              <br>
              {{.Semester}}. {{msg $ "user.semester"}}
            {{end}}
          </div>
        </div>
        <br>
      {{end}}

      <!-- change pw -->
      <hr>
      {{if not .user.IsLDAP}}
        <button type="button" class="btn btn-outline-darkblue d-inline" data-toggle="modal"
          data-target="#change-password-modal">
          {{msg $ "profile.change.pw"}}
        </button>
      {{end}}
      <button type="button" class="btn btn-outline-darkblue d-inline" data-toggle="modal"
        data-target="#change-language-modal">
        {{msg $ "profile.change.language"}}
      </button>
    </div>

    <!-- active events -->
    <div class="tab-pane fade" id="v-pills-active" role="tabpanel"
      aria-labelledby="v-pills-active-tab">

      <!-- header icon + section name -->
      <h4>
        {{template "icons/layoutTextSidebarReversed.html" . }}
        &nbsp; {{msg $ "profile.active.events"}}
      </h4>
      <hr>
      <br>

      {{if .user.ActiveEnrollments}}
        <!-- load content -->
        {{template "user/enrollments.html" dict_addLocale $.currentLocale "enrollments" .user.ActiveEnrollments "slots" false}}
      {{else}}
        <!-- info that none exist -->
        <small class="text-muted">
          {{msg $ "profile.active.events.none"}}
        </small>
      {{end}}
    </div>

    <!-- expired events -->
    <div class="tab-pane fade" id="v-pills-expired" role="tabpanel"
      aria-labelledby="v-pills-expired-tab">

      <h4>
        {{template "icons/archive.html" . }}
          &nbsp; {{msg $ "profile.expired.events"}}
      </h4>
      <hr>
      <br>

      {{if .user.ExpiredEnrollments}}
        {{template "user/enrollments.html" dict_addLocale $.currentLocale "enrollments" .user.ExpiredEnrollments "slots" false}}
      {{else}}
        <small class="text-muted">
          {{msg $ "profile.expired.events.none"}}
        </small>
      {{end}}
    </div>

    <!-- active slots -->
    <div class="tab-pane fade" id="v-pills-activeSlots" role="tabpanel"
      aria-labelledby="v-pills-activeSlots-tab">

      <!-- header icon + section name -->
      <h4>
        {{template "icons/calendar2Check.html" . }}
        &nbsp; {{msg $ "profile.activeSlots.events"}}
      </h4>
      <hr>
      <br>

      {{if .user.ActiveSlots}}
        <!-- load content -->
        {{template "user/enrollments.html" dict_addLocale $.currentLocale "enrollments" .user.ActiveSlots "slots" true}}
      {{else}}
        <!-- info that none exist -->
        <small class="text-muted">
          {{msg $ "profile.active.events.none"}}
        </small>
      {{end}}
    </div>

    <!-- expired slots -->
    <div class="tab-pane fade" id="v-pills-expiredSlots" role="tabpanel"
      aria-labelledby="v-pills-expired-tab">

      <h4>
        {{template "icons/calendar2x.html" . }}
        &nbsp; {{msg $ "profile.expiredSlots.events"}}
      </h4>
      <hr>
      <br>

      {{if .user.ExpiredSlots}}
        {{template "user/enrollments.html" dict_addLocale $.currentLocale "enrollments" .user.ExpiredSlots "slots" true}}
      {{else}}
        <small class="text-muted">
          {{msg $ "profile.expired.events.none"}}
        </small>
      {{end}}
    </div>


  </div>

</div>

{{template "user/modals/changePassword.html" .}}
{{template "user/modals/changeLanguage.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

{{template "footer.html" .}}
