<!-- template containing all FAQs -->

{{template "header.html" .}}

<div class="page page-side page-left-layout">
  <h4>
    {{msg $ "categories"}}
  </h4>
  <hr>

  <!-- add new categories -->
  {{if $.session.userID}}
    {{if eq $.session.role "admin"}}
      <button type="button" class="btn btn-outline-darkblue"
        onclick='openCategoryModal("faq_category", "", "", {{url "Admin.InsertCategory"}},
        {{msg $ "category.insert"}});'>
        {{msg $ "category.add"}}
      </button>
      <hr>
    {{end}}
  {{end}}

  <!-- range over all categories -->
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {{range $key, $value := .categories}}
      <a class="nav-link btn-outline-darkblue m-1 {{if eq $key 0}}active{{end}}"
        href='#v-pills-{{$key}}' role="tab" data-toggle="tab">
        {{.Name}}
      </a>
    {{else}}
      {{if not .errMsg}}
        {{msg $ "categories.none"}}
      {{end}}
    {{end}}
  </div>
</div>

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      {{template "icons/chatSquareQuote.html" .}}
      &nbsp; {{msg $ "faq.page"}}
    </h4>
    <hr>

    <div class="tab-content">
      {{range $key, $value := .categories}}
        <div class="tab-pane {{if eq $key 0}}active{{end}}" id='v-pills-{{$key}}' role="tabpanel">

          <!-- category title -->
          <h5>
            {{.Name}}

            {{if $.session.userID}}
              {{if eq $.session.role "admin"}}
                <!-- update name -->
                <a href="#no-scroll" class="badge btn-outline-darkblue"
                  onclick='openCategoryModal("faq_category", {{.ID}}, {{.Name}},
                  {{url "Admin.UpdateCategory"}}, {{msg $ "category.update"}});'>
                  {{template "icons/pencil.html" . }}
                </a>
                {{if not .Entries}}
                  <!-- delete category -->
                  <a href="#no-scroll" class="badge btn-outline-darkblue"
                    onclick='confirmPOSTModal({{msg $ "category.delete.title"}},
                    {{msg $ "category.delete.confirm" .Name}},
                    {{url "Admin.DeleteCategory" .ID "faq_category"}});'>
                    {{template "icons/trash.html" . }}
                  </a>
                {{end}}
              {{end}}
            {{end}}
          </h5>
          <hr>

          <!-- add new entries -->
          {{if $.session.userID}}
            {{if eq $.session.role "admin"}}
              <button type="button" class="btn btn-outline-darkblue"
                onclick='openEntryModal("", {{url "Admin.InsertHelpPageEntry"}},
                {{msg $ "entry.insert.title"}}, true, "", "", {{msg $ "entry.question"}},
                {{msg $ "entry.answer"}}, {{.ID}});'>
                {{msg $ "entry.insert.add"}}
              </button>
              <hr>
            {{end}}
          {{end}}

          <!-- entries -->
          {{range $key2, $value2 := .Entries}}

            <!-- last edited -->
            <small class="text-muted form-text">
              {{.LastEdited}}
            </small>

            {{if $.session.userID}}
              {{if eq $.session.role "admin"}}
                <!-- update entry -->
                <a href="#no-scroll" class="badge btn-outline-darkblue"
                  onclick='openEntryModal({{.ID}}, {{url "Admin.UpdateHelpPageEntry"}}, {{msg $ "entry.update"}},
                  true, "faq-entry-question-{{$key}}-{{$key2}}", "faq-entry-answer-{{$key}}-{{$key2}}",
                  {{msg $ "entry.question"}}, {{msg $ "entry.answer"}}, {{.CategoryID}});'>
                  {{template "icons/pencil.html" . }}
                </a>
                <!-- delete entry -->
                <a href="#no-scroll" class="badge btn-outline-darkblue"
                  onclick='confirmPOSTModal({{msg $ "entry.delete.title"}}, {{msg $ "entry.delete.confirm"}},
                  {{url "Admin.DeleteHelpPageEntry" .ID "faqs"}});'>
                  {{template "icons/trash.html" . }}
                </a>
              {{end}}
            {{end}}

            <!-- question -->
            <div id="faq-entry-question-{{$key}}-{{$key2}}">
            </div>
            <script>
              //render the html content
              $(function() {
                $('#faq-entry-question-{{$key}}-{{$key2}}').html('{{.Question}}');
              });
            </script>

            <!-- answer -->
            <div id="faq-entry-answer-{{$key}}-{{$key2}}">
            </div>
            <script>
              //render the html content
              $(function() {
                $('#faq-entry-answer-{{$key}}-{{$key2}}').html('{{.Answer}}');
              });
            </script>

          {{else}}
            {{msg $ "entries.none"}}
          {{end}}

        </div>
      {{else}}
        {{if .errMsg}}
          <div class="val-div w-100 text-danger">
            {{.errMsg}}
          </div>
        {{else}}
          {{msg $ "categories.none"}}
        {{end}}
      {{end}}
    </div>

  </div>
</div>

<!-- insert/update/delete categories and entries -->
{{template "admin/modals/changeCategory.html" .}}
{{template "admin/modals/changeEntry.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

<script>
  //initialize Quill editors
  var quill1;
  var quill2;

  $(function() {
    //set the Quill editors
    quill1 = new Quill('#admin-entry-modal-content1', {
      theme: 'snow'
    });
    quill2 = new Quill('#admin-entry-modal-content2', {
      theme: 'snow'
    });

    //ensure that the form validation behaves correctly
    quill1.on('text-change', function(delta, oldDelta, source) {
      const text = quill1.root.innerHTML;
      detectTextFieldChange(source, "admin-entry-modal-value1", text);
    });
    quill2.on('text-change', function(delta, oldDelta, source) {
      const text = quill2.root.innerHTML;
      detectTextFieldChange(source, "admin-entry-modal-value2", text);
    });
  });
</script>

{{template "footer.html" .}}
