<!-- show groups and their children -->

<!-- show all groups of this level in the groups tree -->
{{range .Groups}}
  {{if ne .ID 0}} <!-- group entry -->
    <div class="card border-0">
      <div id="heading-{{.IDPrefix}}-{{.ID}}">
        <button onclick='changeIcon("{{.IDPrefix}}-{{.ID}}");' class="btn btn-block btn-light text-justify list-group-item"
          type="button" data-toggle="collapse" data-target="#{{.IDPrefix}}-{{.ID}}" aria-expanded="true"
          aria-controls="{{.IDPrefix}}-{{.ID}}">

          {{if $.session.userID}}
            {{if eq $.session.role "admin"}}
              <!-- delete -->
              {{if not .Groups}}
                <a href="#no-scroll" class="btn btn-outline-darkblue float-right ml-3"
                  onclick='confirmPOSTModal({{msg $ "group.delete.title"}},
                  {{msg $ "group.delete.question" .Name}}, "{{url "Admin.DeleteGroup" .ID}}#");'
                  title='{{msg $ "title.delete.group"}}'>
                  {{template "icons/trash.html" . }}
                </a>
              {{end}}
              <!-- update -->
              <a href="#no-scroll" class="btn btn-outline-darkblue float-right ml-3"
                onclick='openAdminGroupModal({{.ID}}, {{.ParentID}}, {{.InheritsLimits}}, {{url "Admin.UpdateGroup"}},
                {{msg $ "group.update"}}, {{.Name}}, {{.ChildHasLimits}}, {{.CourseLimit.Int32}});'
                title='{{msg $ "title.edit.group"}}'>
                {{template "icons/pencil.html" . }}
              </a>
              <!-- insert -->
              <a href="#no-scroll" class="btn btn-outline-darkblue float-right ml-3"
                onclick='openAdminGroupModal("", {{.ID}}, {{.InheritsLimits}},
                {{url "Admin.InsertGroup"}}, {{msg $ "group.insert"}}, "", false, "");'
                title='{{msg $ "title.add.group"}}'>
                {{template "icons/plus.html" . }}
              </a>
            {{end}}
          {{end}}

          {{if eq .IDPrefix "creator"}}
            <a href="#no-scroll" class="btn btn-outline-darkblue float-right ml-3"
              onclick='submitChangeGroupModal({{.ID}});'>
              {{msg $ "creator.add.course.here"}}
            </a>
          {{end}}

          <!-- dropdown and dropright icon and group name-->
          <div id="icon-right-{{.IDPrefix}}-{{.ID}}" class="d-block">
            {{template "icons/caretRight.html" .}} {{.Name}}
          </div>
          <div id="icon-down-{{.IDPrefix}}-{{.ID}}" class="d-none">
            {{template "icons/caretDown.html" .}} {{.Name}}
          </div>

          <!-- course limit information -->
          {{if .CourseLimit.Valid}}
            <small class="form-text text-muted">
              {{msg $ "group.course.limit.info" .CourseLimit.Int32}}
            </small>
          {{end}}
        </button>
      </div>

      <div id="{{.IDPrefix}}-{{.ID}}" class="collapse" aria-labelledby="heading-{{.IDPrefix}}-{{.ID}}">
        <div class="card-body">
          <!-- get the children of this group -->
          {{template "app/groups.html" dict_addLocale $.currentLocale "Groups" .Groups "session" $.session}}
        </div>
      </div>
    </div>
  {{else}}
    <!-- open course -->
    <form action='{{url "Course.Open" .CourseID}}' method="POST">
      <button class="btn btn-block btn-light text-justify list-group-item"
        type="submit" {{if eq .IDPrefix "creator"}}disabled{{end}}
        title='{{msg $ "title.course.open"}}'>
        <span class="badge badge-secondary btn-darkblue"> {{msg $ "course"}} </span>
        &nbsp; {{.Name}}
      </button>
    </form>
  {{end}}

{{else}}
  <small class="form-text text-muted">
    {{msg $ "group.no.children"}}
  </small>
{{end}}
