<!-- this template loads all current groups and recursively loads their children -->
<!-- TODO: only show add, edit and delete button if the user's role is admin -->

<!-- show all children -->
{{range .Groups}}
  {{if ne .ID 0}} <!-- group entry -->
    <div class="card border-0">
      <div id="heading-{{.IDPrefix}}-{{.ID}}">
        <button onclick='changeIcon("{{.IDPrefix}}-{{.ID}}");' class="btn btn-block btn-light text-justify list-group-item" type="button" data-toggle="collapse" data-target="#{{.IDPrefix}}-{{.ID}}" aria-expanded="true" aria-controls="{{.IDPrefix}}-{{.ID}}">

          {{if $.session.userID}}
            {{if eq $.session.role "admin"}}
              <!-- delete -->
              {{if not .Groups}}
                <a href="#no-scroll" onclick='openDeleteGroup({{.ID}}, {{msg $ "group.delete.question" .Name}});' class="btn btn-outline-darkblue float-right ml-3">
                  {{template "icons/trash.html" . }}
                </a>
              {{end}}
              <!-- edit -->
              <a href="#no-scroll" onclick='openEditGroup({{.ID}}, {{.ParentID}}, {{.ChildHasLimits}}, {{.InheritsLimits}}, {{.Name}}, {{.CourseLimit.Int32}});' class="btn btn-outline-darkblue float-right ml-3">
                {{template "icons/pencil.html" . }}
              </a>
              <!-- add -->
              <a href="#no-scroll" onclick="openCreateGroup({{.ID}}, {{.InheritsLimits}});" class="btn btn-outline-darkblue float-right ml-3">
                {{template "icons/plus.html" . }}
              </a>
            {{end}}
          {{end}}

          {{if eq .IDPrefix "creator"}}
            <a href="#no-scroll" class="btn btn-outline-darkblue float-right ml-3"
              onclick='submitChangeGroupModal({{.ID}});'>
              {{msg $ "creator.add.course.here"}}
            </a>
          {{end}}

          <!-- dropdown and dropright icon and group name-->
          <div id="icon-right-{{.IDPrefix}}-{{.ID}}" class="d-block">
            {{template "icons/caretRight.html" .}} {{.Name}}
          </div>
          <div id="icon-down-{{.IDPrefix}}-{{.ID}}" class="d-none">
            {{template "icons/caretDown.html" .}} {{.Name}}
          </div>

          <!-- course limit information -->
          {{if .CourseLimit.Valid}}
            <small class="form-text text-muted">
              {{msg $ "group.course.limit.info" .CourseLimit.Int32}}
            </small>
          {{end}}
        </button>
      </div>

      <div id="{{.IDPrefix}}-{{.ID}}" class="collapse" aria-labelledby="heading-{{.IDPrefix}}-{{.ID}}">
        <div class="card-body">
          <!-- get the children of this group -->
          {{template "app/groups.html" dict_addLocale $.currentLocale "Groups" .Groups "session" $.session}}
        </div>
      </div>
    </div>
  {{else}}
    <!-- TODO: open course, either via redirect or via reload -->
    <button class="btn btn-block btn-light text-justify list-group-item" type="button" {{if eq .IDPrefix "creator"}}disabled{{end}}>
      <span class="badge badge-secondary btn-darkblue"> {{msg $ "course"}} </span>
      &nbsp; {{.Name}}
    </button>
  {{end}}

{{else}}
  <small class="form-text text-muted">
    {{msg $ "group.no.children"}}
  </small>
{{end}}
