<!-- imprint -->

{{template "header.html" .}}

<div class="page page-side page-side-left">
  <br class="mobile-hidden">
</div>

<div class="page page-middle">
  <!-- load the file in the respective language -->
  {{if eq .currentLocale "en-US"}}
    {{template "app/imprint/imprint.html.en" .}}
  {{else if eq .currentLocale "de-DE"}}
    {{template "app/imprint/imprint.html.de" .}}
  {{end}}
</div>

<div class="page page-side page-side-right">
  {{template "toast.html" .}}
</div>

{{template "footer.html" .}}
