<!-- landing page of the application -->

{{template "header.html" .}}

<div class="page page-side">
  <br class="medium-hidden">
</div>

<div class="page page-middle">

  <!-- course search -->
  <h4>
    {{msg $ "search.course.title"}}
  </h4>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text border-right-0">
        {{template "icons/search.html" . }}
      </span>
    </div>

    <!-- input -->
    <input class="form-control dropdown-toggle rounded-right" type="search"
      placeholder='{{msg $ "search.course"}}' data-toggle="dropdown" aria-haspopup="true"
      onkeyup='searchCourse("dropdown-index-search", "content-index-search", "dropdown-index-search", {{url "Course.Search"}});'
      aria-expanded="false" id="dropdown-index-search">

    <!-- results -->
    <div class="dropdown-menu d-none" id="content-index-search">
    </div>
  </div>

  <br>
  <br>

  <!-- groups -->
  <h4>
    {{msg $ "groups"}}
  </h4>
  <br>
  {{if $.session.userID}}
    {{if eq $.session.role "admin"}}
      <!-- insert a new root group -->
      <button type="button" class="btn btn-outline-darkblue" data-toggle="modal"
        onclick='openAdminGroupModal("", "", false, {{url "Admin.InsertGroup"}},
        {{msg $ "group.insert"}}, "", false, "");'>
        {{msg $ "button.add.group"}}
      </button>
      <br>
      <br>
    {{end}}
  {{end}}
  <!-- load groups -->
  <div id="groups">
  </div>
</div>

<div class="page page-side">
  <div class="alert alert-info" role="alert">
    {{msg $ "index.page.info"}}
  </div>
</div>

{{template "footer.html" .}}

<script>
  $(function() {
    getGroups("index", '#groups');
  });
</script>
