<!-- landing page of the application -->

{{template "header.html" .}}

<div class="page page-side page-side-left">
  <br class="mobile-hidden">
</div>

<div class="page page-middle">
  {{template "flash.html" .}}

  <h4>
    {{msg $ "search.course"}}
  </h4>
  <form>
    <div class="input-group">
      <input class="form-control" type="search" placeholder='{{msg $ "search.enter.value"}}'>
      <div class="input-group-append">
        <span class="input-group-text">
          {{template "icons/search.html"}}
        </span>
      </div>
    </div>
  </form>
  <br>
  <br>

  <h4>
    {{msg $ "groups"}}
  </h4>
  <!-- 'Add Group'-button -->
  <!-- TODO: only show this if role is admin -->
  <br>
  <button type="button" class="btn btn-outline-darkblue" data-toggle="modal" onclick="openCreateGroup(0);">
    {{msg $ "button.add.group"}}
  </button>
  <br>
  <br>
  <div id="groups">
  </div>
</div>

<div class="page page-side page-side-right">
  {{template "toast.html" .}}
</div>

{{template "admin/groupModals.html" .}}

{{template "footer.html" .}}

<script>
  //loads the groups template
  function getGroups(prefix) {
    $.get('{{url "App.Groups"}}', {
      "prefix": prefix
    }, function(data) {
      $('#groups').html(data);
    })
  }
  getGroups("index");

  function openCreateGroup(parentID, inheritsLimits) {

    $('#group-form').attr("action", '{{url "Admin.AddGroup"}}');
    $('#group-modal-title').html('{{msg $ "group.new"}}');
    $('#input-parentID').val(parentID);
    $('#input-name').val("");
    $('#group-confirm-btn').html('{{msg $ "button.add"}}');

    if (inheritsLimits) {
      $('#input-courseLimits').attr("disabled", true);
      $('#input-courseLimits').val("");
      $('#courseLimits-info').html('{{msg $ "group.inherits.limit.info"}}');
    } else {
      $('#input-courseLimits').attr("disabled", false);
      $('#input-courseLimits').val("");
      $('#courseLimits-info').html('{{msg $ "group.course.limit.x.info"}}');
    }

    $('#group-modal').modal('show');
  }

  function openEditGroup(ID, parentID, childHasLimits, inheritsLimits, name, courseLimits) {

    $('#group-form').attr("action", '{{url "Admin.EditGroup"}}');
    $('#group-modal-title').html('{{msg $ "group.edit"}}');
    $('#input-ID').val(ID);
    $('#input-parentID').val(parentID);
    $('#input-name').val(name);
    $('#group-confirm-btn').html('{{msg $ "button.edit"}}');

    if (courseLimits != 0) {
      $('#input-courseLimits').attr("disabled", false);
      $('#input-courseLimits').val(courseLimits);
      $('#courseLimits-info').html('{{msg $ "group.course.limit.x.info"}}');
    } else if (inheritsLimits || childHasLimits) {
      $('#input-courseLimits').attr("disabled", true);
      $('#input-courseLimits').val("");
      $('#courseLimits-info').html('{{msg $ "group.inherits.limit.info"}}');
    }

    $('#group-modal').modal('show');
  }

  function openDeleteGroup(ID, content) {
    $('#group-delete-content').html(content);
    $('#delete-input-ID').val(ID);
    $('#group-delete-modal').modal('show');
  }

  //detect validation error
  if ({{if .errors}}true{{else}}false{{end}}) {
    showErrorToast($('#flash-errors').html());
  }
</script>
