<!-- landing page of the application -->

{{template "header.html" .}}

<div class="page page-side page-side-left">
  <br class="mobile-hidden">
</div>

<div class="page page-middle">
  {{template "flash.html" .}}

  <h4>
    {{msg $ "search.course.title"}}
  </h4>
  <form accept-charset="UTF-8" class="needs-validation" novalidate>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text border-right-0">
          {{template "icons/search.html" . }}
        </span>
      </div>
      <input type="search" class="form-control rounded-right" placeholder='{{msg $ "search.enter.value"}}' required maxlength="127" minlength="3">
      <div class="invalid-feedback">
        {{msg $ "validation.invalid.searchValue"}}
      </div>
    </div>
  </form>
  <br>
  <br>

  <h4>
    {{msg $ "groups"}}
  </h4>
  <!-- 'Add Group'-button -->
  <!-- TODO: only show this if role is admin -->
  <br>
  {{if $.session.userID}}
    {{if eq $.session.role "admin"}}
      <button type="button" class="btn btn-outline-darkblue" data-toggle="modal" onclick="openCreateGroup(0);">
        {{msg $ "button.add.group"}}
      </button>
      <br>
      <br>
    {{end}}
  {{end}}
  <div id="groups">
  </div>
</div>

<div class="page page-side page-side-right">
  {{template "toast.html" .}}
</div>

{{template "footer.html" .}}

<script>
  $(function() {
    getGroups("index", '#groups');

    //detect validation error
    if ({{if .errors}}true{{else}}false{{end}}) {
      showErrorToast($('#flash-errors').html());
    }
  });
</script>
