<!-- renders all admin/creator privilege active courses -->

{{range .entries}}
  <li class="list-group-item">

    <div class="dropdown">
      <button class="btn btn-outline-darkblue float-right" type="button"
        id="dropdown-options-creator-{{.ID}}" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" title='{{msg $ "title.manage.options"}}'>
        {{template "icons/threeDots.html" .}}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdown-options-creator-{{.ID}}">

        <!-- go to -->
        <a class="btn dropdown-item" role="button" href='{{url "Course.Open" .ID}}'>
          {{template "icons/eye.html" . }}
          &nbsp; {{msg $ "title.manage.course.view"}}
        </a>

        <!-- edit -->
        <a class="btn dropdown-item" href='{{url "Edit.Open" .ID}}' role="button">
          {{template "icons/pencil.html" . }}
          &nbsp; {{msg $ "title.edit"}}
        </a>

        <!-- download -->
        <a class="btn dropdown-item" href="#no-scroll" role="button"
          onclick='openDownloadModal({{.ID}});'>
          {{template "icons/download.html" . }}
          &nbsp; {{msg $ "title.download"}}
        </a>

        <!-- duplicate -->
        <button type="button" class="btn dropdown-item" onclick='openDuplicateModal({{.ID}});'>
          {{template "icons/files.html" . }}
          &nbsp; {{msg $ "title.duplicate"}}
        </button>

        <!-- participants -->
        <a class="btn dropdown-item" href='{{url "Participants.Open" .ID}}' role="button">
          {{template "icons/people.html" . }}
          &nbsp; {{msg $ "title.manage.participants"}}
        </a>

        <!-- expire -->
        <button type="button" class="btn dropdown-item"
          onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
            {{msg $ "creator.course.expire.confirm" .Title}},
            {{url "Creator.Expire" .ID}});'>
          {{template "icons/archive.html" . }}
          &nbsp; {{msg $ "title.edit.expire"}}
        </button>

      </div>
    </div>

    <!-- title and go to -->
    <a class="text-body" href='{{url "Course.Open" .ID}}' title='{{msg $ "title.manage.course.view"}}'>
      {{.Title}}
    </a>

    <small class="form-text text-muted">
      {{template "icons/calendar.html" . }} &nbsp; {{.CreationDateStr}}
    </small>
  </li>

{{else}}
  <!-- no active courses -->
  <small class="form-text text-muted">
    {{msg $ "creator.active.none"}}
  </small>
{{end}}
