<!-- renders all admin/creator privilege active courses -->

{{range .entries}}
  <li class="list-group-item">

    <!-- participants -->
    <a class="btn btn-outline-darkblue float-right" href='{{url "Participants.Open" .ID}}'
      role="button" title='{{msg $ "title.manage.participants"}}'>
      {{template "icons/people.html" . }}
    </a>

    <!-- download -->
    <a class="btn btn-outline-darkblue float-right mr-3" href="#no-scroll"
      onclick='openDownloadModal({{.ID}});' role="button" title='{{msg $ "title.manage.download"}}'>
      {{template "icons/download.html" . }}
    </a>

    <!-- edit -->
    <a class="btn btn-outline-darkblue float-right mr-3" href='{{url "Edit.Open" .ID}}'
      role="button" title='{{msg $ "title.manage.edit"}}'>
      {{template "icons/pencil.html" . }}
    </a>

    <!-- go to -->
    <a class="btn btn-outline-darkblue float-right mr-3" role="button"
      href='{{url "Course.Open" .ID}}' title='{{msg $ "title.manage.course.view"}}'>
      {{template "icons/eye.html" . }}
    </a>

    <!-- title and go to -->
    <a class="text-body" href='{{url "Course.Open" .ID}}' title='{{msg $ "title.manage.course.view"}}'>
      {{.Title}}
    </a>

    <small class="form-text text-muted">
      {{template "icons/calendar.html" . }} &nbsp; {{.CreationDate}}
    </small>
  </li>

{{else}}
  <!-- no active courses -->
  <small class="form-text text-muted">
    {{msg $ "creator.active.none"}}
  </small>
{{end}}
