<!-- renders all admin/creator privilege drafts -->

{{range .entries}}
  <li class="list-group-item">

    <!-- delete -->
    <button type="button" class="btn btn-outline-darkblue float-right"
      onclick='confirmPOSTModal({{msg $ "creator.course.delete.draft.title"}},
        {{msg $ "creator.course.delete.draft.confirm" .Title}},
        {{url "Creator.Delete" .ID}});'
      title='{{msg $ "title.manage.delete"}}'>
      {{template "icons/trash.html" . }}
    </button>

    <!-- duplicate -->
    <button type="button" class="btn btn-outline-darkblue float-right mr-3"
      onclick='openDuplicateModal({{.ID}});'
      title='{{msg $ "title.manage.duplicate"}}'>
      {{template "icons/files.html" . }}
    </button>

    <!-- download -->
    <a class="btn btn-outline-darkblue float-right mr-3" href="#no-scroll"
      onclick='openDownloadModal({{.ID}});' role="button"
      title='{{msg $ "title.manage.download"}}'>
      {{template "icons/download.html" . }}
    </a>

    <!-- edit -->
    <a class="btn btn-outline-darkblue float-right mr-3" href='{{url "Edit.Open" .ID}}'
      role="button" title='{{msg $ "title.manage.edit"}}'>
      {{template "icons/pencil.html" . }}
    </a>

    <!-- edit the course via clicking on its title -->
    <a class="text-body" href='{{url "Edit.Open" .ID}}'
      title='{{msg $ "title.manage.edit"}}'>
      {{.Title}}
    </a>

    <small class="form-text text-muted">
      {{template "icons/calendar.html" . }} &nbsp; {{.CreationDate}}
    </small>
  </li>

{{else}}
  <!-- no drafts -->
  <small class="form-text text-muted">
    {{msg $ "creator.drafts.none"}}
  </small>
{{end}}
