<!-- template containing the new course creation -->

{{template "header.html" .}}

{{template "manage/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      <!-- show either an open draft or an open course -->
      {{template "icons/folder.html" . }}
      {{if .course.Active}}
        &nbsp; {{msg $ "creator.course.is.open"}}
      {{else}}
        &nbsp; {{msg $ "creator.course.draft.is.open"}}
      {{end}}

      {{if eq .session.role "admin"}}
        {{if not .course.Active}}

          <!-- activate the course -->
          <button type="button" class="btn btn-outline-darkblue float-lg-right"
            onclick='confirmPOSTModal({{msg $ "creator.course.activate.title"}},
              {{msg $ "creator.course.activate.confirm" .course.Title}},
              {{url "Creator.Activate" .course.ID}});'
            title='{{msg $ "title.edit.activate"}}'>
            {{template "icons/unlock.html" . }}
          </button>
        {{else}}

          <!-- expire the course -->
          <button type="button" class="btn btn-outline-darkblue float-lg-right"
            onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
              {{msg $ "creator.course.expire.confirm" .course.Title}},
              {{url "Creator.Expire" .course.ID}});'
            title='{{msg $ "title.edit.expire"}}'>
            {{template "icons/archive.html" . }}
          </button>
        {{end}}
      {{else}}
        {{if eq .course.CreatorID .session.userID}}
          {{if not .course.Active}}

            <!-- activate the course -->
            <button type="button" class="btn btn-outline-darkblue float-left float-lg-right"
              onclick='confirmPOSTModal({{msg $ "creator.course.activate.title"}},
                {{msg $ "creator.course.activate.confirm" .course.Title}},
                {{url "Creator.Activate" .course.ID}});'
              title='{{msg $ "title.edit.activate"}}'>
              {{template "icons/unlock.html" . }}
            </button>
          {{else}}

            <!-- expire the course -->
            <button type="button" class="btn btn-outline-darkblue float-left float-lg-right"
              onclick='confirmPOSTModal({{msg $ "creator.course.expire.title"}},
                {{msg $ "creator.course.expire.confirm" .course.Title}},
                {{url "Creator.Expire" .course.ID}});'
              title='{{msg $ "title.edit.activate"}}'>
              {{template "icons/archive.html" . }}
            </button>
          {{end}}
        {{end}}
      {{end}}

      {{if not .course.Active}}

        <!-- validate course -->
        <form class="float-left float-lg-right mr-3" action='{{url "Edit.Validate" .course.ID}}' method="POST">
          <button type="submit" class="btn btn-outline-darkblue" title='{{msg $ "title.edit.validate"}}'>
            {{template "icons/checkAll.html" . }}
          </button>
        </form>
      {{end}}

      <button id="preview-btn" type="button" class="btn btn-outline-darkblue float-left float-lg-right mr-3"
        onclick="plainCourse();" title='{{msg $ "title.edit.preview"}}'>
        {{template "icons/aspectRatio.html" . }}
      </button>
      <button id="hide-preview-btn" type="button" class="btn btn-outline-darkblue float-left float-lg-right mr-3 d-none"
        onclick="editCourse();" title='{{msg $ "title.edit.course"}}'>
        {{template "icons/pencil.html" . }}
      </button>
    </h4>
    <hr>

    {{if .errMsg}}
      <div class="val-div w-100 text-danger">
        {{.errMsg}}
      </div>
    {{else}}
      {{template "course/course.html" .}}
      <!-- load all modals responsible for changing content -->
      {{template "edit/loadModals.html" .}}
    {{end}}
  </div>
</div>

<div class="page page-side">
  <div class="page-right-layout">
    {{template "edit/wiki.html"  .}}
  </div>
</div>

<script src="/public/js/edit.js"></script>

<script>
  {{template "js/edit.js" .}}

  $(function() {
    //adjust the nav pills
    {{if not .course.Active}}
      $('#pills-opened-draft').removeClass("d-none");
      $('#pills-opened-active').addClass("d-none");
      $('#pills-opened-expired').addClass("d-none");
    {{else}}
      {{if not .course.Expired}}
        $('#pills-opened-draft').addClass("d-none");
        $('#pills-opened-active').removeClass("d-none");
        $('#pills-opened-expired').addClass("d-none");
      {{else}}
        $('#pills-opened-draft').addClass("d-none");
        $('#pills-opened-active').addClass("d-none");
        $('#pills-opened-expired').removeClass("d-none");
      {{end}}
    {{end}}

    //react to only ldap switch events
    $('#change-only_ldap-switch').change(function() {
      $('#change-ldap-form').submit();
    });

    //react to visibility switch events
    $('#change-visible-switch').change(function() {
      $('#change-visibility-form').submit();
    });

    editCourse();
    disableEnrollmentButtons();
  });
</script>

{{template "footer.html" .}}
