<h4>
  {{msg $ "creator.wiki"}}
</h4>
<hr>

<nav class="nav flex-column">
  <a class="nav-link" href="#">
    {{template "icons/infoSquare.html" .}}
    &nbsp; {{msg $ "creator.general.data"}}
  </a>
  <a class="nav-link" href="#more-settings">
    {{template "icons/tools.html" .}}
    &nbsp; {{msg $ "creator.more.settings"}}
  </a>
  <a class="nav-link" href="#events">
    {{template "icons/people.html" .}}
    &nbsp; {{msg $ "course.events"}}
  </a>
</nav>

<hr>

<small class="form-text text-muted">

  {{template "icons/aspectRatio.html" . }} &nbsp;
  <strong>
    {{msg $ "creator.course.preview"}}
  </strong>
  &nbsp;
  {{template "icons/pencil.html" . }} &nbsp;
  <strong>
    {{msg $ "creator.course.edit"}}:
  </strong>
  {{msg $ "creator.info.preview"}}

  {{if not .course.Active}}
    <!-- validate -->
    <hr>
    {{template "icons/checkAll.html" . }} &nbsp;
    <strong> {{msg $ "creator.course.validate"}}: </strong>
    {{msg $ "creator.info.validate"}}
  {{end}}

  {{if eq .session.role "admin"}}
    {{if not .course.Active}}

      <!-- activate -->
      <hr>
      {{template "icons/unlock.html" . }} &nbsp;
      <strong> {{msg $ "creator.course.activate"}}: </strong>
      {{msg $ "creator.info.activate"}}

    {{else}}

      <!-- expire -->
      <hr>
      {{template "icons/archive.html" . }} &nbsp;
      <strong> {{msg $ "creator.course.expire"}}: </strong>
      {{msg $ "creator.info.expire"}}

    {{end}}
  {{else}}
    {{if eq .course.CreatorID .session.userID}}
      {{if not .course.Active}}

        <!-- activate -->
        <hr>
        {{template "icons/unlock.html" . }} &nbsp;
        <strong> {{msg $ "creator.course.activate"}}: </strong>
        {{msg $ "creator.info.activate"}}

      {{else}}

        <!-- expire -->
        <hr>
        {{template "icons/archive.html" . }} &nbsp;
        <strong> {{msg $ "creator.course.expire"}}: </strong>
        {{msg $ "creator.info.expire"}}

      {{end}}
    {{end}}
  {{end}}

</small>
