<h4>
  {{msg $ "creator.wiki"}}
</h4>
<hr>

<nav class="nav flex-column">
  <a class="nav-link" href="#">
    {{template "icons/infoSquare.html" .}}
    &nbsp; {{msg $ "creator.general.data"}}
  </a>
  <a class="nav-link" href="#more-settings">
    {{template "icons/tools.html" .}}
    &nbsp; {{msg $ "creator.more.settings"}}
  </a>
  <a class="nav-link" href="#events">
    {{template "icons/people.html" .}}
    &nbsp; {{msg $ "course.events"}}
  </a>
</nav>

<hr>

<small class="form-text text-muted">

  <!-- preview, edit -->
  {{template "icons/aspectRatio.html" . }} &nbsp;
  <strong>
    {{msg $ "creator.course.preview"}}
  </strong>
  &nbsp;
  {{template "icons/pencil.html" . }} &nbsp;
  <strong>
    {{msg $ "creator.course.edit"}}:
  </strong>
  {{msg $ "creator.info.preview"}}

  <!-- validate -->
  {{if not .course.Active}}
    <hr>
    {{template "icons/checkAll.html" . }} &nbsp;
    <strong> {{msg $ "creator.course.validate"}}: </strong>
    {{msg $ "creator.info.validate"}}
  {{end}}

  <!-- download -->
  <hr>
  {{template "icons/download.html" . }} &nbsp;
  {{msg $ "creator.info.draft.download"}}

  {{if not .course.Active}}

    <!-- activate -->
    <div class="d-none admin creator">
      <hr>
      {{template "icons/unlock.html" . }} &nbsp;
      <strong> {{msg $ "creator.course.activate"}}: </strong>
      {{msg $ "creator.info.activate"}}
    </div>

  {{else}}

    <!-- expire -->
    <div class="d-none admin creator">
      <hr>
      {{template "icons/archive.html" . }} &nbsp;
      <strong> {{msg $ "creator.course.expire"}}: </strong>
      {{msg $ "creator.info.expire"}}
    </div>

  {{end}}

  <div class="d-none admin creator">
    <hr>
    {{template "icons/files.html" . }} &nbsp;
    {{msg $ "creator.info.draft.duplicate"}}
  </div>


  <div class="d-none admin creator">
    <hr>
    {{template "icons/trash.html" . }} &nbsp;
    {{msg $ "creator.info.draft.delete"}}
  </div>

</small>
