{{template "EMails/Components/MIMETop.html" .}}

{{template "EMails/Components/Salutation.html.de" .}}

Mit dem folgenden Code kann Ihr Account aktiviert werden:
{{.data.User.ActivationCode}}

Oder verwenden Sie den folgenden Link, um Ihren Account zu aktivieren:
{{.data.URL}}/User/VerifyActivationCode?userID={{.data.User.ID}}&code={{.data.User.ActivationCode}}

Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht.

{{template "EMails/Components/BestRegardsPlain.html.de" .}}

{{template "EMails/Components/MIMEMiddle.html" .}}

<body>
{{template "EMails/Components/Salutation.html.de" .}}
<br>
<br>
Mit dem folgenden Code kann Ihr Account aktiviert werden:
<br>
<font color="red">{{.data.User.ActivationCode}}</font>
<br>
<br>
Oder verwenden Sie den folgenden Link, um Ihren Account zu aktivieren:
<br>
<a href="{{.data.URL}}/User/VerifyActivationCode?userID={{.data.User.ID}}&code={{.data.User.ActivationCode}}">
  Account aktivieren
</a>
<br>
<br>
<b> Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht. </b>
<br>
<br>
{{template "EMails/Components/BestRegards.html.de" .}}
</body>
</html>

{{template "EMails/Components/MIMEBottom.html" .}}
