{{template "emails/components/MIMETop.html" .}}

{{template "emails/components/salutation.html" .}}

Mit dem folgenden Code kann Ihr Account aktiviert werden:
{{.data.User.ActivationCode.String}}

Oder verwenden Sie den folgenden Link, um Ihren Account zu aktivieren:
{{.data.URL}}/user/verifyActivationCode?userID={{.data.User.ID}}&activationCode={{.data.User.ActivationCode.String}}

Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht.

{{template "emails/components/bestRegards.html" .}}

{{template "emails/components/MIMEMiddle.html" .}}

<body>
{{template "emails/components/salutation.html" .}}
<br>
<br>
Mit dem folgenden Code kann Ihr Account aktiviert werden:
<br>
<font color="red">{{.data.User.ActivationCode.String}}</font>
<br>
<br>
Oder verwenden Sie den folgenden Link, um Ihren Account zu aktivieren:
<br>
<a href="{{.data.URL}}/user/verifyActivationCode?userID={{.data.User.ID}}&activationCode={{.data.User.ActivationCode.String}}">
  Account aktivieren
</a>
<br>
<br>
<b> Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht. </b>
<br>
<br>
{{msg $ "email.regards" .data.URL}}
</body>
</html>

{{template "emails/components/MIMEBottom.html" .}}
