{{template "emails/components/MIMETop.html" .}}

{{template "emails/components/salutation.html" dict_addLocale $.currentLocale "User" .data.User}}


Ihr Bezahlstatus für die Veranstaltung '{{.data.EventTitle}}' des Kurses '{{.data.CourseTitle}}' wurde geändert. Ihr neuer Status lautet:
{{if eq .data.Status 2}}
{{msg $ "enroll.status.awaiting.payment"}}
{{else if eq .data.Status 3}}
{{msg $ "enroll.status.paid"}}
{{else}}
{{msg $ "enroll.status.freed"}}
{{end}}

Zum Kurs: {{.data.URL}}/course/open?ID={{.data.CourseID}}

Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht.


{{template "emails/components/bestRegards.html" .}}

{{template "emails/components/MIMEMiddle.html" .}}

<body>
{{template "emails/components/salutation.html" dict_addLocale $.currentLocale "User" .data.User}}
<br>
<br>
<br>
Ihr Bezahlstatus für die Veranstaltung '{{.data.EventTitle}}' des Kurses '{{.data.CourseTitle}}' wurde geändert. Ihr neuer Status lautet: <br>
{{if eq .data.Status 2}}
<font color="#C0392B">{{msg $ "enroll.status.awaiting.payment"}}</font>
{{else if eq .data.Status 3}}
<font color="#16A085">{{msg $ "enroll.status.paid"}}</font>
{{else}}
<font color="#16A085">{{msg $ "enroll.status.freed"}}</font>
{{end}}
<br>
<br>
<a href="{{.data.URL}}/course/open?ID={{.data.CourseID}}">
    Zum Kurs: {{.data.CourseTitle}}
</a>
<br>
<br>
<b> Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht. </b>
<br>
<br>
<br>
{{msg $ "email.regards" .data.URL}}
</body>
</html>

{{template "emails/components/MIMEBottom.html" .}}
