{{template "emails/components/MIMETop.html" .}}

{{template "emails/components/salutation.html" dict_addLocale $.currentLocale "User" .data.User}}


hier ist Ihr neues Passwort, mit dem Sie sich jetzt anmelden können. Auf Ihrer Profilseite können Sie ein individuelles Passwort setzen.
{{.data.User.Password.String}}

Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht.


{{template "emails/components/bestRegards.html" .}}

{{template "emails/components/MIMEMiddle.html" .}}

<body>
{{template "emails/components/salutation.html" dict_addLocale $.currentLocale "User" .data.User}}
<br>
<br>
<br>
hier ist Ihr neues Passwort, mit dem Sie sich jetzt anmelden können. Auf Ihrer Profilseite können Sie ein individuelles Passwort setzen. <br>
<font color="#16A085">{{.data.User.Password.String}}</font>
<br>
<br>
<b> Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht. </b>
<br>
<br>
<br>
{{msg $ "email.regards" .data.URL}}
</body>
</html>

{{template "emails/components/MIMEBottom.html" .}}
