{{template "emails/components/MIMETop.html" .}}

{{template "emails/components/salutation.html" .}}

Ein Admin hat Ihre Nutzerrolle aktualisiert. Ihre neue Nutzerrolle lautet
{{if eq .data.User.Role 0}}
  {{msg $ "user.role.user"}}
{{else if eq .data.User.Role 1}}
  {{msg $ "user.role.creator"}}
{{else if eq .data.User.Role 2}}
  {{msg $ "user.role.admin"}}
{{end}}.

Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht.

{{template "emails/components/bestRegards.html" .}}

{{template "emails/components/MIMEMiddle.html" .}}

<body>
{{template "emails/components/salutation.html" .}}
<br>
<br>
Ein Admin hat Ihre Nutzerrolle aktualisiert. Ihre neue Nutzerrolle lautet
<br>
<b>
  {{if eq .data.User.Role 0}}
    {{msg $ "user.role.user"}}
  {{else if eq .data.User.Role 1}}
    {{msg $ "user.role.creator"}}
  {{else if eq .data.User.Role 2}}
    {{msg $ "user.role.admin"}}
  {{end}}
</b>.
<br>
<br>
<b> Dies ist eine automatisch generierte E-Mail, bitte beantworten Sie sie nicht. </b>
<br>
<br>
{{msg $ "email.regards" .data.URL}}
</body>
</html>

{{template "emails/components/MIMEBottom.html" .}}
