<!-- modal for listing all comments of users -->

<div class="modal fade" id="comments-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header bg-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "event.comments.title"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- modal body -->
      <div class="modal-body">

        <small class="form-text text-muted">
          {{msg $ "event.comments.info"}}
        </small>
        <br>

        <div id="comments-modal-content">
        </div>

      </div>

      <!-- modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-darkblue" data-dismiss="modal">
          {{msg $ "button.close"}}
        </button>
      </div>

    </div>
  </div>
</div>
