<!-- modal for entering enrollment data like the enrollment key and a comment -->

<div class="modal fade" id="enter-enrollment-data-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- form -->
      <form id="enter-enrollment-data-modal-form" accept-charset="UTF-8" method="GET">

        <!-- modal header -->
        <div class="modal-header bg-darkblue border-radius-2">
          <h5 class="modal-title text-white">
            {{msg $ "event.enrollment.data.modal.title"}}
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- modal body -->
        <div class="modal-body">
          <input type="hidden" name="ID" id="enter-enrollment-data-modal-ID">

          <!-- enrollment key -->
          <div id="enter-enrollment-data-modal-key">
            <small class="form-text text-muted">
              {{msg $ "event.key"}}
            </small>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  {{template "icons/pencil.html" .}}
                </span>
              </div>
              <input name="key" type="password" class="form-control rounded-right" max="511">
              <div class="invalid-feedback">
                {{msg $ "validation.invalid.text"}}
              </div>
            </div>
          </div>

          <!-- comment -->
          <div id="enter-enrollment-data-modal-comment">
            <small class="form-text text-muted">
              {{msg $ "event.comment"}}
            </small>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="2" max="511"></textarea>
            </div>
          </div>

        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.abort"}}
          </button>
          <button id="enter-enrollment-data-modal-btn" type="submit" class="btn btn-darkblue">
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
