<!-- template containing an overview over all users with elevated roles -->

{{template "header.html" .}}

{{template "manageCourses/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      {{template "icons/layoutTextSidebarReversed.html" . }}
      &nbsp; {{msg $ "creator.courses.active"}}
    </h4>
    <hr>

    <div id="get-active-courses">
    </div>

  </div>
</div>

{{template "manageCourses/templates/rightNav.html" . }}

<script>
  function getActiveCourses() {
    $.get('{{url "ManageCourses.GetActiveCourses"}}', {
    }, function(data) {
      $('#get-active-courses').html(data);
    })
  }

  $(function() {
    //adjust the nav pills
    $('#v-pills-active-tab').addClass("active");
    getActiveCourses();
  });
</script>

{{template "footer.html" .}}
