<!-- template containing the new course creation -->

{{template "header.html" .}}

{{template "manageCourses/templates/leftNav.html" . }}

<div class="page page-middle mb-5 mb-lg-0">
  <div class="tab-content">

    <h4>
      {{template "icons/paperclip.html" . }}
      &nbsp; {{msg $ "creator.drafts"}}
    </h4>
    <hr>

    <div id="get-drafts">
    </div>

  </div>
</div>

<div class="page page-side page-side-right pl-desktop-12">
  {{template "toast.html" .}}
  <div class="position-desktop-fixed border-left pl-4 pr-4 h-65 overflow-y">
    {{template "manageCourses/legends/drafts.html"  dict_addLocale $.currentLocale}}
  </div>
</div>

<script>
  $(function() {
    //adjust the nav pills
    $('#v-pills-drafts-tab').addClass("active");
    getDrafts();
  });
</script>

{{template "footer.html" .}}
