<!-- template containing all expired courses -->

{{template "header.html" .}}

{{template "manageCourses/templates/leftNav.html" . }}

<div class="page page-middle">
  <div class="tab-content">

    <h4>
      {{template "icons/archive.html" . }}
      &nbsp; {{msg $ "creator.courses.expired"}}
    </h4>
    <hr>

    <div id="get-expired-courses">
    </div>

  </div>
</div>

<div class="page page-side page-side-right page-padding-left">
  <div class="position-fixed border-left page-padding-left-small page-side-right page-add-scroll">
    {{template "toast.html" .}}
    {{template "manageCourses/legends/expired.html"  dict_addLocale $.currentLocale}}
  </div>
</div>

<script>
  $(function() {
    //adjust the nav pills
    $('#v-pills-expired-tab').addClass("active");
    getExpiredCourses();
  });
</script>

{{template "footer.html" .}}
