<!-- template containing all expired courses -->

{{template "header.html" .}}

{{template "manageCourses/templates/leftNav.html" . }}

<div class="page page-middle mb-5 mb-lg-0">
  <div class="tab-content">

    <h4>
      {{template "icons/archive.html" . }}
      &nbsp; {{msg $ "creator.courses.expired"}}
    </h4>
    <hr>

    <div id="get-expired-courses">
    </div>

  </div>
</div>

<div class="page page-side page-side-right pl-desktop-12">
  {{template "toast.html" .}}
  <div class="position-desktop-fixed border-left pl-4 pr-4 h-65 overflow-y">
    {{template "manageCourses/legends/expired.html"  dict_addLocale $.currentLocale}}
  </div>
</div>

<script>
  $(function() {
    //adjust the nav pills
    $('#v-pills-expired-tab').addClass("active");
    getExpiredCourses();
  });
</script>

{{template "footer.html" .}}
