<!-- this template contains all active courses created by the user or of whom he is an editor/instructor -->

<!-- admins see all active courses -->
{{if eq .session.role "admin"}}
  <ul class="list-group">
    {{template "manageCourses/templates/active.html" dict_addLocale $.currentLocale "entries" .creator}}
  </ul>
  <br>

{{else}}
  {{if eq .session.role "creator"}}
    <h5>
      {{msg $ "creator.of"}}
    </h5>

    <ul class="list-group">
      {{template "manageCourses/templates/active.html" dict_addLocale $.currentLocale "entries" .creator}}
    </ul>
    <br>
  {{end}}

  {{if eq .session.isEditor "true"}}
    <h5>
      {{msg $ "editor.of"}}
    </h5>

    <ul class="list-group">
      {{range .editor}}
        <li class="list-group-item">

          <!-- TODO: participants -->
          <a class="btn btn-outline-darkblue float-right" href="#no-scroll" role="button">
            {{template "icons/people.html" . }}
          </a>

          <!-- download -->
          <a class="btn btn-outline-darkblue float-right mr-3" href="#no-scroll"
            onclick='openDownloadModal({{.ID}});' role="button">
            {{template "icons/download.html" . }}
          </a>

          <!-- edit -->
          <a class="btn btn-outline-darkblue float-right mr-3" href='{{url "EditCourse.OpenCourse" .ID}}' role="button">
            {{template "icons/pencil.html" . }}
          </a>

          <!-- TODO: go to -->
          <a class="btn btn-outline-darkblue float-right mr-3" href="#no-scroll" role="button">
            {{template "icons/eye.html" . }}
          </a>

          <a class="text-body" href='#'> <!-- TODO: go to -->
            {{.Title}}
          </a>

          <small class="form-text text-muted">
            {{template "icons/calendar.html" . }} &nbsp; {{.CreationDate}}
          </small>
        </li>

      {{else}} <!-- not yet editor of any active courses -->
        <small class="form-text text-muted">
          {{msg $ "creator.active.editor.none"}}
        </small>
      {{end}}
    </ul>
    <br>
  {{end}}

  {{if eq .session.isInstructor "true"}}
    <h5>
      {{msg $ "instructor.of"}}
    </h5>

    <ul class="list-group">
      {{range .instructor}}
        <li class="list-group-item">

          <!-- TODO: participants -->
          <a class="btn btn-outline-darkblue float-right" href="#no-scroll" role="button">
            {{template "icons/people.html" . }}
          </a>

          <!-- TODO: go to -->
          <a class="btn btn-outline-darkblue float-right mr-3" href="#no-scroll" role="button">
            {{template "icons/eye.html" . }}
          </a>

          <a class="text-body" href='#'> <!-- TODO: go to -->
            {{.Title}}
          </a>

          <small class="form-text text-muted">
            {{template "icons/calendar.html" . }} &nbsp; {{.CreationDate}}
          </small>
        </li>

      {{else}} <!-- not yet instructor of any active courses -->
        <small class="form-text text-muted">
          {{msg $ "creator.active.instructor.none"}}
        </small>
      {{end}}
    </ul>
  {{end}}
{{end}}
