<!-- this template contains all course drafts created by the user or of whom he is an editor -->

{{if eq .session.role "admin"}}
  <ul class="list-group">
    {{template "manageCourses/templates/drafts.html" dict_addLocale $.currentLocale "entries" .creator}}
  </ul>
  <br>

{{else}}

  {{if eq .session.role "creator"}}
    <h5>
      {{msg $ "creator.of"}}
    </h5>

    <ul class="list-group">
      {{template "manageCourses/templates/drafts.html" dict_addLocale $.currentLocale "entries" .creator}}
    </ul>
    <br>
  {{end}}

  {{if eq .session.isEditor "true"}}
    <h5>
      {{msg $ "editor.of"}}
    </h5>

    <ul class="list-group">
      {{range .editor}}
        <li class="list-group-item">

          <!-- download -->
          <a class="btn btn-outline-darkblue float-right" href="#no-scroll"
            onclick='openDownloadModal({{.ID}});' role="button">
            {{template "icons/download.html" . }}
          </a>

          <!-- edit -->
          <a class="btn btn-outline-darkblue float-right mr-3" href='{{url "EditCourse.OpenCourse" .ID}}' role="button">
            {{template "icons/pencil.html" . }}
          </a>

          <!-- edit the course via clicking on its title -->
          <a class="text-body" href='{{url "EditCourse.OpenCourse" .ID}}'>
            {{.Title}}
          </a>

          <small class="form-text text-muted">
            {{template "icons/calendar.html" . }} &nbsp; {{.CreationDate}}
          </small>
        </li>

      {{else}} <!-- user is not an editor of any draft -->
        <small class="form-text text-muted">
          {{msg $ "creator.drafts.editor.none"}}
        </small>
      {{end}}
    </ul>
  {{end}}
{{end}}
