<!-- add/edit day templates -->

<div class="modal fade" id="change-day-tmpl-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- form -->
      <form accept-charset="UTF-8" method="POST" class="needs-validation"
        novalidate id="change-day-tmpl-modal-form">

        <!-- modal header -->
        <div class="modal-header bg-darkblue border-radius-2">
          <h5 class="modal-title text-white" id="change-day-tmpl-modal-title"></h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- modal body -->
        <div class="modal-body">

          <!-- course ID -->
          <input type="hidden" name="courseID" value="{{.courseID}}">
          <!-- calendar event ID -->
          <input type="hidden" name="ID" id="change-day-tmpl-modal-ID">
          <!-- day tmpl ID -->
          <input type="hidden" name="tmpl.ID" id="change-day-tmpl-modal-tmpl-ID">
          <!-- fieldID -->
          <input type="hidden" value="calendar_events" id="change-day-tmpl-modal-list">

          {{if .active}}
            <small class="text-muted form-text">
              {{msg $ "day.tmpl.edit.info"}}
            </small>
            <hr>
          {{end}}

          <!-- weekday -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text border-right-0">
                {{msg $ "event.calendar.week.day"}}
              </label>
            </div>
            <select name="tmpl.DayOfWeek" class="custom-select rounded-right"
              id="change-day-tmpl-modal-day-of-week">
              <option value="0"> {{msg $ "meeting.mondays"}} </option>
              <option value="1"> {{msg $ "meeting.tuesdays"}} </option>
              <option value="2"> {{msg $ "meeting.wednesdays"}} </option>
              <option value="3"> {{msg $ "meeting.thursdays"}} </option>
              <option value="4"> {{msg $ "meeting.fridays"}} </option>
              <option value="5"> {{msg $ "meeting.saturdays"}} </option>
              <option value="6"> {{msg $ "meeting.sundays"}} </option>
            </select>
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.option"}}
            </div>
          </div>

          <!-- start time -->
          <div class="row">
            <div class="col-sm-6">
              <small class="text-muted form-text">
                {{msg $ "meeting.from.time"}}
              </small>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {{template "icons/clock.html" .}}
                  </span>
                </div>
                <input type="time" name="tmpl.StartTime" id="change-day-tmpl-modal-start"
                  class="form-control rounded-right" required>
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.time"}}
                </div>
              </div>
            </div>

            <!-- end time -->
            <div class="col-sm-6">
              <small class="text-muted form-text">
                {{msg $ "meeting.to.time"}}
              </small>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {{template "icons/clock.html" .}}
                  </span>
                </div>
                <input type="time" name="tmpl.EndTime" id="change-day-tmpl-modal-end"
                  class="form-control rounded-right" required>
                <div class="invalid-feedback">
                  {{msg $ "validation.invalid.time"}}
                </div>
              </div>
            </div>
          </div>

          <small class="form-text text-muted">
            {{msg $ "event.calendar.interval.info"}}
          </small>
          <input min="1" max="1440" type="number" name="tmpl.Interval" class="form-control"
            id="change-day-tmpl-modal-interval" required>
          <div class="invalid-feedback">
            {{msg $ "validation.calendar.event.invalid.interval"}}
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
