<!-- change-text-area-modal

titleID:        change-text-area-modal-title        html
fieldID:        change-text-area-modal-field        value
valueID:        change-text-area-modal-value        value
infoID:         change-text-area-modal-info              html

formID:         change-text-area-modal-form         action
-->

<div class="modal fade" id="change-text-area-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <!-- form -->
      <form id="change-text-area-modal-form" accept-charset="UTF-8"
        method="POST" class="needs-validation" novalidate>

        <!-- modal header -->
        <div class="modal-header bg-darkblue border-radius-2">
          <h5 class="modal-title text-white" id="change-text-area-modal-title"></h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- modal body -->
        <div class="modal-body">

          <!-- course ID -->
          <input type="hidden" name="ID" value="{{.ID}}">
          <!-- fieldID -->
          <input type="hidden" name="fieldID" id="change-text-area-modal-field" required>

          <small class="form-text text-muted" id="change-text-area-modal-info">
          </small>
          <!-- editor -->
          <div id="change-text-area-modal-editor">
          </div>

          <!-- hidden text area -->
          <textarea class="d-none" id="change-text-area-modal-value" name="value" required>
          </textarea>
          <div class="invalid-feedback">
            {{msg $ "validation.invalid.text.area"}}
          </div>

          <hr class="only-custom-email">
          <!-- custom e-mail information -->
          <div class="only-custom-email">{{msg $ "creator.custom.email.fields"}}</div>
          <div class="row mt-2 only-custom-email">
            <div class="col-sm-6">
              <ul>
                <li>{{msg $ "user.salutation"}}</li>
                <li>{{msg $ "user.title"}}</li>
                <li>{{msg $ "user.academic.title"}}</li>
                <li>{{msg $ "user.firstname"}}</li>
                <li>{{msg $ "user.name.affix"}}</li>
                <li>{{msg $ "user.lastname"}}</li>
                <li>{{msg $ "course.title"}}</li>
                <li>{{msg $ "course.creator.email"}}</li>
                <li>{{msg $ "course.url"}}</li>
                <li>{{msg $ "event.title"}}</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <small class="text-muted">
                  {{msg $ "course.custom.email.fields.event.info"}}
                </small>
                <br>
                <li>{{msg $ "event.number.meetings"}}</li>
                <br>
                <small class="text-muted">
                  {{msg $ "course.custom.email.fields.slots.info"}}
                </small>
                <br>
                <li>{{msg $ "enroll.start.time"}}</li>
                <li>{{msg $ "enroll.end.time"}}</li>
              </ul>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <div class="only-custom-email">{{msg $ "creator.custom.email.fields.info"}}</div>
          <hr class="only-custom-email">
          <div class="only-custom-email">
            {{if eq .currentLocale "en-US"}}
              {{template "edit/modals/exampleEMailEN.html" .}}
            {{else if eq .currentLocale "de-DE"}}
              {{template "edit/modals/exampleEMailDE.html" .}}
            {{end}}
          </div>

          {{if .active}}
            <hr>
            <small class="form-text text-muted">
              <b>{{msg $ "email.edit.info.bold"}}</b> <br>
              {{msg $ "email.edit.info"}}
              <br>
              <br>
            </small>
            <div class="form-group">
              <select class="custom-select" name="conf.OptionUsers" required>
                <option value="">{{msg $ "email.edit.option.choose"}}</option>
                <option value="1">{{msg $ "email.edit.option.all.users"}}</option>
                <option value="2">{{msg $ "email.edit.option.enrolled.users"}}</option>
                <option value="3">{{msg $ "email.edit.option.wait.list.users"}}</option>
                <option value="4">{{msg $ "email.edit.option.none"}}</option>
              </select>
            </div>
            <small class="form-text text-muted">
              {{msg $ "email.edit.info.creator"}}
            </small>
            <div class="form-group">
              <select class="custom-select" name="conf.OptionEditors" required>
                <option value="">{{msg $ "email.edit.option.choose"}}</option>
                <option value="1">{{msg $ "email.edit.option.all"}}</option>
                <option value="2">{{msg $ "email.edit.option.editors"}}</option>
                <option value="3">{{msg $ "email.edit.option.instructors"}}</option>
                <option value="4">{{msg $ "email.edit.option.none"}}</option>
              </select>
            </div>
          {{end}}
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="button" class="btn btn-darkblue" onclick="submitTextArea();">
            {{msg $ "button.save"}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<script>
  //initialize the Quill editor
  var quill;

  $(function() {
    //set the Quill editor
    quill = new Quill('#change-text-area-modal-editor', {
      theme: 'snow'
    });

    //ensure that the form validation behaves correctly
    quill.on('text-change', function(delta, oldDelta, source) {
      const text = quill.root.innerHTML;
      detectTextFieldChange(source, "change-text-area-modal-value", text);
    });
  });
</script>
