<!-- template containing the modal to duplicate/delete meetings -->

<!-- edit-meeting-single -->

<div class="modal fade" id="duplicate-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- form -->
      <form accept-charset="UTF-8" method="POST" class="needs-validation" novalidate
        id="duplicate-delete-form">

        <!-- modal header -->
        <div class="modal-header bg-darkblue border-radius-2">
          <h5 class="modal-title text-white" id="duplicate-delete-title">
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- modal body -->
        <div class="modal-body">

          <!-- meeting ID -->
          <input type="hidden" name="ID" id="duplicate-delete-meeting-ID">
          <!-- event ID -->
          <input type="hidden" name="eventID" id="duplicate-delete-meeting-event-ID">
          <!-- fieldID -->
          <input type="hidden" name="fieldID" id="duplicate-delete-modal-list" required>

          <div id="duplicate-delete-content">
          </div>

          {{if .active}}
            <hr>
            <small class="form-text text-muted">
              <b>{{msg $ "email.edit.info.bold"}}</b> <br>
              {{msg $ "email.edit.info"}}
              <br>
              <br>
            </small>
            <div class="form-group">
              <select class="custom-select" name="conf.OptionUsers" required>
                <option value="">{{msg $ "email.edit.option.choose"}}</option>
                <option value="1">{{msg $ "email.edit.option.all.users"}}</option>
                <option value="2">{{msg $ "email.edit.option.enrolled.users"}}</option>
                <option value="3">{{msg $ "email.edit.option.wait.list.users"}}</option>
                <option value="4">{{msg $ "email.edit.option.none"}}</option>
              </select>
            </div>
            <small class="form-text text-muted">
              {{msg $ "email.edit.info.creator"}}
            </small>
            <div class="form-group">
              <select class="custom-select" name="conf.OptionEditors" required>
                <option value="">{{msg $ "email.edit.option.choose"}}</option>
                <option value="1">{{msg $ "email.edit.option.all"}}</option>
                <option value="2">{{msg $ "email.edit.option.editors"}}</option>
                <option value="3">{{msg $ "email.edit.option.instructors"}}</option>
                <option value="4">{{msg $ "email.edit.option.none"}}</option>
              </select>
            </div>
          {{end}}
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.save"}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
