<!-- an example text of a custom welcome e-mail -->

Hello <strong class="text-muted">[[{{msg $ "user.firstname"}}]]</strong>,
<br>
<br>
thank you for enrolling in the course <strong class="text-muted">[[{{msg $ "course.title"}}]]</strong>!<br>
You successfully registered for the event <strong class="text-muted">[[{{msg $ "event.title"}}]]</strong>.<br>
Please note that this event has <strong class="text-muted">[[{{msg $ "event.number.meetings"}}]]</strong> meetings.<br>
Here you can see the course: <strong class="text-muted">[[{{msg $ "course.url"}}]]</strong>
<br>
<br>
Best Regards!
