<!-- an example text of a custom welcome e-mail -->

Hallo <strong class="text-muted">[[{{msg $ "user.firstname"}}]]</strong>,
<br>
<br>
danke für die Einschreibung in den Kurs <strong class="text-muted">[[{{msg $ "course.title"}}]]</strong>!<br>
Du hast dich erfolgreich für die Veranstaltung <strong class="text-muted">[[{{msg $ "event.title"}}]]</strong> angemeldet.<br>
Bitte beachte, dass es zu dieser Veranstaltung <strong class="text-muted">[[{{msg $ "event.number.meetings"}}]]</strong> Termine gibt.<br>
Hier geht es zum Kurs: <strong class="text-muted">[[{{msg $ "course.url"}}]]</strong>
<br>
<br>
Viele Grüße!
