<!-- new-meeting-modal

ID:             new-meeting-modal-ID            value
-->

<div class="modal fade" id="new-meeting-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- form -->
      <form accept-charset="UTF-8" action='{{url "EditEvent.NewMeeting"}}'
        method="POST" class="needs-validation" novalidate id="new-meeting-modal-form">

        <!-- modal header -->
        <div class="modal-header bg-darkblue border-radius-2">
          <h5 class="modal-title text-white">
            {{msg $ "meeting.new.title"}}
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- modal body -->
        <div class="modal-body">

          <!-- event ID -->
          <input type="hidden" name="ID" id="new-meeting-modal-ID">

          <!-- field ID -->
          <input type="hidden" id="new-meeting-modal-list">

          <!-- load option -->
          <small class="form-text text-muted">
            {{msg $ "meeting.interval.info"}}
          </small>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text border-right-0"> {{msg $ "meeting.interval"}} </label>
            </div>
            <select name="option" class="custom-select rounded-right">
              <option value="0" selected> {{msg $ "meeting.interval.single"}}</option>
              <option value="1"> {{msg $ "meeting.interval.weekly"}} </option>
              <option value="2"> {{msg $ "meeting.interval.even"}} </option>
              <option value="3"> {{msg $ "meeting.interval.odd"}} </option>
            </select>
            <div class="invalid-feedback">
              {{msg $ "validation.invalid.option"}}
            </div>
          </div>

          {{if .active}}
            <hr>
            <small class="form-text text-muted">
              <b>{{msg $ "email.edit.info.bold"}}</b> <br>
              {{msg $ "email.edit.info"}}
              <br>
              <br>
            </small>
            <div class="form-group">
              <select class="custom-select" name="conf.OptionUsers" required>
                <option value="">{{msg $ "email.edit.option.choose"}}</option>
                <option value="1">{{msg $ "email.edit.option.all.users"}}</option>
                <option value="2">{{msg $ "email.edit.option.enrolled.users"}}</option>
                <option value="3">{{msg $ "email.edit.option.wait.list.users"}}</option>
                <option value="4">{{msg $ "email.edit.option.none"}}</option>
              </select>
            </div>
            <small class="form-text text-muted">
              {{msg $ "email.edit.info.creator"}}
            </small>
            <div class="form-group">
              <select class="custom-select" name="conf.OptionEditors" required>
                <option value="">{{msg $ "email.edit.option.choose"}}</option>
                <option value="1">{{msg $ "email.edit.option.all"}}</option>
                <option value="2">{{msg $ "email.edit.option.editors"}}</option>
                <option value="3">{{msg $ "email.edit.option.instructors"}}</option>
                <option value="4">{{msg $ "email.edit.option.none"}}</option>
              </select>
            </div>
          {{end}}
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-darkblue" data-dismiss="modal">
            {{msg $ "button.close"}}
          </button>
          <button type="submit" class="btn btn-darkblue">
            {{msg $ "button.create"}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
