<!-- template rendering the footer -->

    <footer class="footer footer-custom mobile-hidden">
      <div class="container">
        <span class="text-muted">
          {{msg $ "footer.support.email" .serviceEMail}}

          <a href="#" class="float-right"> <!-- TODO -->
            {{msg $ "imprint.tab"}}
          </a>

          <br>
          {{msg $ "footer.data.policy"}}
        </span>
      </div>
    </footer>

    <script>
      {{template "js/application.js" .}}
    </script>
  </body>
</html>
