<!DOCTYPE html>

<html>
  <head>
    <title>{{.tabName}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/public/img/TurmIcon.png">

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <!-- quill editor -->
    <link rel="stylesheet" type="text/css" href="/public/css/quill.snow.css">

    <!-- custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>

  <body>

    <!-- show a warning if javascript is disabled -->
    <noscript>
      <div class="alert alert-warning">
        <h2>
          {{msg $ "header.no.javascript"}}
        </h2>
      </div>
    </noscript>

    <!-- jQuery, Popper and Bootstrap -->
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>

    <!-- Quill library, used for text editors -->
    <script src="/public/js/quill.js"></script>

    <!-- custom js files -->
    <script src="/public/js/application.js"></script>
    <script>
      {{template "js/application.js" .}}
    </script>

    {{if .DevMode}}
      {{template "debug.html" .}}
    {{end}}

    {{template "toast.html" .}}
    {{template "navigation.html" .}}
    {{template "flash.html" .}}
    {{template "templates/confirmPOSTModal.html" .}}
