<!-- template containing the navigation bar present at all pages -->

<nav class="navbar navbar-expand-lg navbar-dark
  bg-darkblue position-fixed w-100 z-idx-500">

  <div class="navbar-brand pb-2">
    <!-- Turm2 icon -->
    <a href='{{url "App.Index"}}' class="float-left">
      <img src="/public/img/TurmIcon.png" class="h-px-40">
    </a>
  </div>

  <div class="navbar-brand">
    <!-- Turm2 text -->
    <a class="text-white card-link float-left" href='{{url "App.Index"}}'>
      <h2>
        Turm II
      </h2>
    </a>
  </div>

  <!-- data toggle for mobile view -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">

      <!-- get back to main page -->
      <li class="nav-item active">
        <a class="nav-link" href='{{url "App.Index"}}'>
          {{msg $ "index.page"}}
        </a>
      </li>

      <!-- data privacy, news feed, FAQ, tutorials, imprint-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#"
          id="dropdownHelpPages" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{msg $ "nav.help"}}
        </a>
        <!-- TODO -->
        <div class="dropdown-menu" aria-labelledby="dropdownHelpPages">
          <a class="dropdown-item" href="#"> {{msg $ "data.privacy.tab"}} </a>
          <a class="dropdown-item" href="#"> {{msg $ "news.feed.tab"}} </a>
          <a class="dropdown-item" href="#"> {{msg $ "faq.tab"}} </a>
          <a class="dropdown-item" href="#"> {{msg $ "imprint.tab"}} </a>
        </div>
      </li>

      <!--languages -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownLanguages"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{range .languages}}
            {{if eq $.currentLocale .}}
              <img class="w-rem-1-5" src="/public/img/{{.}}_flag.png">
            {{end}}
          {{end}}
        </a>
        <div class="dropdown-menu mw-rem-1" aria-labelledby="dropdownLanguages">
          {{range .languages}}
            <a class="dropdown-item" href='{{url "App.ChangeLanguage" .}}'>
              <img src="/public/img/{{.}}_flag.png">
            </a>
          {{end}}
        </div>
      </li>

      <li class="nav-item active d-none admin creator editor instructor">
        <a class="nav-link" href='{{url "ManageCourses.Active"}}'>
          {{msg $ "creator.tab"}}
        </a>
      </li>

      <li class="nav-item active d-none admin">
        <a class="nav-link" href='{{url "Admin.UserManagement"}}'>
          {{msg $ "admin.tab"}}
        </a>
      </li>
    </ul> <!-- end of left aligned entries -->

    {{if .session.userID}}
      <span class="navbar-text mt-2 mt-lg-0 mr-0 mr-lg-3">
        <a class="text-white" href="#">
          {{$.session.firstName}} {{$.session.lastName}}
        </a>
      </span>
    {{end}}

    <form class="form-inline mt-2 mt-lg-0 mr-0 mr-lg-3">
      <div class="input-group">
        <input class="form-control" type="search" placeholder='{{msg $ "search.course"}}'>
      </div>
    </form>

    <button class="btn btn-outline-light mt-2 mt-lg-0 mr-0 mr-lg-3" type="button" onclick="openGroupsNav();">
      {{msg $ "groups"}}
    </button>

    <!-- a user is logged in -->
    {{if .session.userID}}
      <form class="form-inline mt-2 mt-lg-0" action='{{url "User.Logout"}}' method="GET">
        <button class="btn btn-outline-light" type="submit">
          {{msg $ "button.logout"}}
        </button>
      </form>

    <!-- no user is logged in, link and button to login page -->
    {{else}}
      <form class="form-inline mt-2 mt-lg-0" action='{{url "User.LoginPage"}}' method="GET">
        <button class="btn btn-outline-light" type="submit">
          {{msg $ "button.login"}}
        </button>
      </form>
    {{end}}

  </div>
</nav>

<!-- group modal -->
<div class="modal fade" id="nav-groups-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header bg-darkblue border-radius-2">
        <h5 class="modal-title text-white">
          {{msg $ "groups"}}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- modal body -->
      <div class="modal-body">
        <!-- content is loaded into this div -->
        <div id="nav-groups-modal-content">
        </div>
      </div>

      <!-- modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-darkblue" data-dismiss="modal">
          {{msg $ "button.close"}}
        </button>
      </div>
    </div>
  </div>
</div>

{{if $.session.userID}}
  {{if eq $.session.role "admin"}}
    {{template "admin/groups.html" .}}
  {{end}}
{{end}}

<br>
<br>
<br>
<br>
<br>
